section.section-two {
    p {
        font-family : $font-family-sans-serif !important;
        color: $indigo;
    }
    h6 {
        font-family : $font-family-monospace !important;
        font-size: 14px !important;
        letter-spacing: 2px;
    }
    h2 {
        font-weight: 600 !important;
    }
}