section.section-thirteen {
    background-color: $gray-700;
    .swiper-button-disabled {
        outline: none;
        a {
            color: var(--warning);
        }
        .right-hr {
            background: linear-gradient(to right, rgba(27, 163, 255, 0) 0%, var(--warning) 100%);
        }
        .left-hr {
            background: linear-gradient(to left, rgba(27, 163, 255, 0) 0%, var(--warning) 100%);
        }
    }
    h5, h1 {
        font-family: $font-family-monospace;
    }
   .left-side.main {
        h5 {
            letter-spacing: 2px !important;
        }
   }
    form {
        font-weight: 600;
        .customcheck {
            display: block;
            position: relative;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        /* Hide the browser's default checkbox */
        .customcheck input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            left: 0;
            height: 1rem;
            width: 1rem;
            border: 1px solid $black;
            border-radius: 50%;
        }
        
        /* On mouse-over, add a grey background color */
        .customcheck:hover input ~ .checkmark {
            
        }
        
        /* When the checkbox is checked, add a blue background */
        .customcheck input:checked ~ .checkmark {
            background-color: $primary;
            border: 0;
        }
        
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        /* Show the checkmark when checked */
        .customcheck input:checked ~ .checkmark:after {
            display: block;
        }
        
        /* Style the checkmark/indicator */
        .customcheck .checkmark:after {
            width: 6px;
            height: 6px;
            border: 2px solid white;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            border-radius: 50%;
            background-color: white;
        }
        a {
            font-family: $font-family-monospace !important;
        }
        // .checking {
    .checking {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .checking input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .checking .checkmark {
        position: absolute;
        background-color: #EBEFF5;
        border: 0 !important;
        border-radius: 3px !important;
    }

    /* When the checkbox is checked, add a blue background */
    .checking input:checked ~ .checkmark {
        background-color: #1BA3FF;;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .checking input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .checking .checkmark:after {
        width: 5px;
        height: 11px;
        left: 7px;
        top: 1px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    }
}