<div class="jumbotron jumbotron-fluid jumbotron-bg pt-3 pb-4 mb-0" style="border-bottom: 1px solid #EBEFF5">
    <div class="container">
        <div class="row">
            <div class="col-0 col-lg-7"></div>
            <div class="col-12 col-lg-5">
                <form class="form-inline d-flex align-items-center justify-content-end"
                      action="{% url 'explorer:search' %}" method="get">
                    <input class="form-control d-block w-100 poppins-font" name="q" type="search"
                           placeholder="Search by Address/Contract/Hash/Number" aria-label="Search" style="font-size: 14px; width: 378px; ">
                </form>
            </div>
        </div>
    </div>
</div>