{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Address</title>
{% endblock %}
{% block content %}

{% endblock %}
<body>
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center">Address</p>
            </div>
        </div>
    </div>

    <div class="container" id="address">
        <div class="info-table px-md-5">
            <div class="row info-id">
                <span class="info-id-icon">ICON</span>
                <span class="col info-id-serial">{{address}}</span>
            </div>
            <div class="info-table-subtitle">Overview</div>
            <div class="row info-row">
                <div class="col-3">Balance:</div>
                <div class="col">{{balance}}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Transactions:</div>
                <div class="col">{{transactions}}</div>
            </div>
            <div class="info-table-subtitle">Transactions</div>
            <div class="info-table-list">
                <div class="info-table-list-title"></div>
                <div class="info-table-list-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">TxHash</th>
                                <th scope="col">Block</th>
                                <th scope="col">Age</th>
                                <th scope="col">From</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">To</th>
                                <th scope="col">Value</th>
                                <th scope="col">TxType</th>
                                <th scope="col">TxFee</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tx in txs %}
                            <tr >
                                <th><a href="{% url 'explorer:tx' tx.hash %}">{{ tx.hash }}</a></th>
                                <th><a href="{% url 'explorer:block' tx.blockNumber %}">{{ tx.blockNumber }}</a></th>
                                <th>{{ tx.timestamp }}</th>
                                <th><a href="{% url 'explorer:address' tx.from %}">{{ tx.from }}</th>
                                <th>{{ tx.flag }}</th>
                                <th><a href="/address/{{ tx.to }}">{{ tx.to }}</th>
                                <th>{{ tx.value }}</th>
                                <th>None</th>
                                <th>{{ tx.txfee }}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script>
        var addressApp = new Vue({
            el: '#address',
            data: {
                txs: [{
                    hash: 222,
                    blockNumber: 111,
                    timestamp: Date.now(),
                    from: 'fromaddress',
                    flag: 'flagfalg',
                    to: 'toaddress',
                    value: Math.random()*20+5,
                    txfee: Math.random()*20+5
                }]
            }
        })
    </script>

</body>
</html>