{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Address &#8211; CPChain</title>
{% endblock %}
{% block content %}

    <body class="page-template-news">
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center poppins-font">Address</p>
            </div>
        </div>
    </div>

    <div class="container poppins-font" id="address">
        <div class="info-table px-md-5" id="blocks-list">
            <div class="row info-id">
                <span class="info-id-icon"><img src="{% static 'img/explorer/contract icon.png' %}" alt=""></span>
                <span class="col info-id-serial" style="top: 4px">{{ address }}</span>
            </div>
            <div class="info-table-subtitle">Overview</div>
            <div class="row info-row">
                <div class="col-3">Balance:</div>
                <div class="col poppins-light">{{ balance }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Transactions:</div>
                <div class="col poppins-light">{{ txs_count }} Txs</div>
            </div>
            <div class="info-table-subtitle info-table-subtitle-list">Transactions</div>
            <div class="info-table-list">
                <div class="info-table-list-title">
                    Latest {% if txs_count < 25 %}{{ txs_count }}
                {% else %}25{% endif %} txs from a total of <a href>{{ txs_count }} transactions</a>
                </div>
                <div class="info-table-list-content">
                    <div class="table">
                        <div class="row list-header">
                            <div class="col text-truncate">TxHash</div>
                            <div class="col text-truncate">Block</div>
                            <div class="col text-truncate" style="margin-left: -50px">Age</div>
                            <div class="col text-truncate">From</div>
                            <div class="col-1 text-truncate">&nbsp;</div>
                            <div class="col text-truncate">To</div>
                            <div class="col text-truncate">Value</div>
                            <div class="col text-truncate">TxFee</div>
                        </div>
                        {% for tx in txs %}
                            <div class="row row-content">
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:tx' tx.hash %}">{{ tx.hash }}</a></div>
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:block' tx.blockNumber %}">{{ tx.blockNumber }}</a></div>
                                <div class="col text-truncate" style="margin-left: -50px">>[[ convertTime({{ tx.timesince }}) ]] ago
                                </div>
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:address' tx.from %}">{{ tx.from }}</a></div>
                                <div class="col-1 text-truncate flag-{{ tx.flag }}"><span>{{ tx.flag }}</span></div>
                                <div class="col text-truncate">
                                    {% if tx.to %}
                                        <a href="{% url 'explorer:address' tx.to %}">{{ tx.to }}</a>
                                    {% else %}
                                        <a href="{% url 'explorer:address' tx.contract %}"
                                           class="text-truncate col px-0" title="{{ tx.contract }}">Contract Creation</a>
                                    {% endif %}

                                </div>
                                <div class="col text-truncate">{{ tx.value }}</div>
                                <div class="col text-truncate">{{ tx.txfee|floatformat:10 }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        var blockListApp = new Vue({
            el: '#blocks-list',
            delimiters: [`[[`, `]]`],
            methods: {
                convertTime: function (tss) {
                    return formatTS(tss)
                }
            }
        })
    </script>
    </body>

{% endblock %}
