{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Address</title>
{% endblock %}
{% block content %}

    <body>
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center">Address</p>
            </div>
        </div>
    </div>

    <div class="container" id="address">
        <div class="info-table px-md-5">
            <div class="row info-id">
                <span class="info-id-icon">ICON</span>
                <span class="col info-id-serial">{{ address }}</span>
            </div>
            <div class="info-table-subtitle">Overview</div>
            <div class="row info-row">
                <div class="col-3">Balance:</div>
                <div class="col">{{ balance }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Transactions:</div>
                <div class="col">{{ txs_count }}</div>
            </div>
            <div class="info-table-subtitle info-table-subtitle-list">Transactions</div>
            <div class="info-table-list">
                <div class="info-table-list-title">
                    Latest 25 txs from a total of <a href>{{ txs_count }} transactions</a>
                </div>
                <div class="info-table-list-content">
                    <div class="table">
                        <div class="row list-header">
                            <div class="col text-truncate">TxHash</div>
                            <div class="col text-truncate">Block</div>
                            <div class="col text-truncate">Age</div>
                            <div class="col text-truncate">From</div>
                            <div class="col-1 text-truncate">&nbsp;</div>
                            <div class="col text-truncate">To</div>
                            <div class="col text-truncate">Value</div>
{#                            <div class="col text-truncate">TxType</div>#}
                            <div class="col text-truncate">TxFee</div>
                        </div>
                        {% for tx in txs %}
                            <div class="row">
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:tx' tx.hash %}">{{ tx.hash }}</a></div>
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:block' tx.blockNumber %}">{{ tx.blockNumber }}</a></div>
                                <div class="col text-truncate">{{ tx.timesince }}</div>
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:address' tx.from %}">{{ tx.from }}</a></div>
                                <div class="col-1 text-truncate flag-{{ tx.flag }}"><span>{{ tx.flag }}</span></div>
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:address' tx.to %}">{{ tx.to }}</a></div>
                                <div class="col text-truncate">{{ tx.value }}</div>
{#                                <div class="col text-truncate">None</div>#}
                                <div class="col text-truncate">{{ tx.txfee }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    </body>

{% endblock %}
