{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script type="text/javascript" src="https://unpkg.com/vue"></script>
{#//    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Block Infomation &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <body class="page-template-news">
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center poppins-font">Block Information</p>
            </div>
        </div>
    </div>

    <div class="container poppins-font">
        <div class="info-table px-md-5" id="block-info">
            <div class="row info-id">
                <span class="info-id-icon"><img src="{% static 'img/explorer/block info block.png' %}" alt=""></span>
                <span class="col info-id-serial" style="top: 4px">#{{ height }}</span>
            </div>
            <div class="row info-row">
                <div class="col-3">Height:</div>
                <div class="col poppins-light">{{ height }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Hash:</div>
                <div class="col poppins-light">{{ block_hash }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Time:</div>
                <div class="col poppins-light">[[ timeTicker ]]   {% ifequal height 0 %} (in memory of the day lbft2.0 debuted.){% endifequal %}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Transactions:</div>
                <div class="col poppins-light"><a href="/explorer/txs/?block={{ height }}">{{ txs }} Transactions</a></div>
            </div>
            <div class="row info-row">
                <div class="col-3">Parent Hash:</div>
                <div class="col poppins-light"><a href="/explorer/block/{{ parentHash }}">{{ parentHash }}</a></div>
            </div>
            <div class="row info-row">
                <div class="col-3">Produced By:</div>
                <div class="col poppins-light"><a href="/explorer/address/{{ miner }}">{{ miner }}</a> in {{ timeproduce }} secs
                </div>
            </div>
            <div class="row info-row">
                <div class="col-3">Size:</div>
                <div class="col poppins-light">{{ size }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Gas Used By Transaction:</div>
                <div class="col poppins-light">{{ gasUsed }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Gas Limit:</div>
                <div class="col poppins-light">{{ gasLimit }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Block Reward:</div>
                <div class="col poppins-light">{{ blockReward }} CPC</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Extra Data:</div>
                <div class="col poppins-light">{{ extraData }}</div>
            </div>

            <div class="row info-row"></div>
        </div>
    </div>

    <script>
        var blockInfoApp = new Vue({
            el: '#block-info',
            delimiters: [`[[`, `]]`],
            computed: {
                timeTicker: function () {
                    return `${convertDate({{timestamp}})}   ${formatTS({{ timesince }})} ago`
                },
            },
        })
    </script>
    </body>
{% endblock %}
