{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Block Infomation</title>
{% endblock %}
{% block content %}
<body>
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center">Blocks</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="info-table px-md-5" id="blocks-info">
            <div class="info-table-list">
                <div class="info-table-list-content">
                    <div class="table">
                        <div class="row list-header">
                            <div class="col text-truncate">Height</div>
                            <div class="col text-truncate">Age</div>
                            <div class="col text-truncate">txn</div>
                            <div class="col text-truncate">Producer</div>
                            <div class="col text-truncate">GasUsed</div>
                            <div class="col text-truncate">GasLimit</div>
                            <div class="col text-truncate">Reward</div>
                        </div>
                        <div class="row">
                            <div class="col text-truncate">Height</div>
                            <div class="col text-truncate">Age</div>
                            <div class="col text-truncate">txn</div>
                            <div class="col text-truncate">Producer</div>
                            <div class="col text-truncate">GasUsed</div>
                            <div class="col text-truncate">GasLimit</div>
                            <div class="col text-truncate">Reward</div>
                        </div>
                        {% for b in blocks.object_list %}
                        <div class="row">
                            <div class="col text-truncate"><a href="/block/{{ b.number }}">{{ b.number }}</a></div>
                            <div class="col text-truncate">{{ b.timestamp }}</div>
                            <div class="col text-truncate"><a href="/txs?block={{ b.number }}">{{ b.transactions }}</a></div>
                            <div class="col text-truncate"><a href="/address/{{ b.miner }}">{{ b.miner }}</div>
                            <div class="col text-truncate">{{ b.gasUsed }}</div>
                            <div class="col text-truncate">{{ b.gasLimit }}</div>
                            <div class="col text-truncate">Reward</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="pageturn">
                <ul class="pagelist">
                    <li class="long"><a href="?{{ blocks.previous_page_number.querystring }}"><i class="fa fa-angle-left"></i></a></li>
                    <li class="none"><a href="">...</a></li>
                    <li class="active"><a href="?{{ page.querystring }}">1</a></li>
                    <li class="none"><a href="">...</a></li>
                    <li class="long"><a href="?{{ blocks.next_page_number.querystring }}"><i class="fa fa-angle-right"></i></a></li>
        
                    {% if blocks.has_previous %}
                        <li class="long"><a href="?{{ blocks.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
        
                    {% for page in blocks.pages %}
                        {% if page %}
                            {% ifequal page blocks.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if blocks.has_next %}
                        <li class="long"><a href="?{{ blocks.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
        
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
    </div>

</body>

{% endblock %}
