{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Block Infomation</title>
{% endblock %}
{% block content %}
    <body>
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center">Block Information</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="info-table px-md-5" id="block-info">
            <div class="row info-id">
                <span class="info-id-icon">ICON</span>
                <span class="col info-id-serial">#{{ height }}</span>
            </div>
            <div class="row info-row">
                <div class="col-3">Height:</div>
                <div class="col">{{ height }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Hash:</div>
                <div class="col">{{ block_hash }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Time:</div>
                <div class="col">{{ timesince }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Transactions:</div>
                <div class="col"><a href="/explorer/txs/?block={{ height }}">{{ txs }} Transactions</a></div>
            </div>
            <div class="row info-row">
                <div class="col-3">Parent Hash:</div>
                <div class="col"><a href="/explorer/block/{{ parentHash }}">{{ parentHash }}</a></div>
            </div>
            <div class="row info-row">
                <div class="col-3">Produced By:</div>
                <div class="col"><a href="/explorer/address/{{ miner }}">{{ miner }}</a> (Nanopoil) in {{ timeproduce }}s
                </div>
            </div>
            <div class="row info-row">
                <div class="col-3">Size:</div>
                <div class="col">{{ size }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Gas Used By Transaction:</div>
                <div class="col">{{ gasUsed }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Gas Limit:</div>
                <div class="col">{{ gasLimit }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Block Reward:</div>
                <div class="col">{{ blockReward }} Wei</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Extra Data:</div>
                <div class="col">{{ extraData }}</div>
            </div>

            <div class="row info-row"></div>
        </div>
    </div>

    <script>
        var blockInfoApp = new Vue({
            el: '#block-info',
            delimiters: [`[[`, `]]`],
            computed: {
                timeTicker: function () {
                    return `${convertDate({{ timestamp }})} ago`
                },
            },
        })
    </script>
    </body>
{% endblock %}
