{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Committees &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <body>
    {% include "explorer/_searchbar.html" %}
    <div class="container">
        <div class="page-header">
            <div class="page-header-main"  id="explorer-header">
                <div class="row text" style="margin-bottom: 97px">
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ epoch }}</h1></div>
                        <div class="text-left"><h3 class="index-font">Current Epoch</h3></div>
                    </a>
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ round }}</h1></div>
                        <div class="text-left"><h3 class="index-font">Current Round</h3></div>
                    </a>
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ committees|length }}</h1></div>
                        <div class="text-left"><h3 class="index-font">Current Proposers</h3></div>
                    </a>
                </div>
                <h1 class="text-left">Current Proposers</h1>
            </div>
        </div>
        <div class="info-table px-md-5" id="blocks-list">
            <div class="info-table-list">
                <div class="info-table-list-content">
                    <div class="table">
                        <div class="row list-header">
                            <div class="col-2 text-truncate">View</div>
                            <div class="col-2 text-truncate">Term</div>
                            <div class="col-6 text-truncate">Producer</div>
                            <div class="col-2 text-truncate">Block</div>
                        </div>
                        {% for committee in committees %}
                            <div class="row row-content">
                                <div class="col-2 text-truncate">{{ committee.View }}</div>
                                <div class="col-2 text-truncate">{{ committee.Term }}</div>
                                <div class="col-6 text-truncate"><a
                                        href="{% url 'explorer:address' committee.Producer %}"  style="color:#1BA3FF;" >{{ committee.Producer }}</a>
                                </div>
                                <div class="col-2 text-truncate"><a
                                        href="{% url 'explorer:block' committee.Block %}"  style="color:#1BA3FF;" >{{ committee.Block }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var blockListApp = new Vue({
            el: '#blocks-list',
            delimiters: [`[[`, `]]`],
            methods: {
                convertTime: function (tss) {
                    return formatTS(tss)
                }
            }
        })
    </script>

    </body>

{% endblock %}
