{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">
    <link href="https://cdn.bootcss.com/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css" rel="stylesheet">

    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Block Infomation</title>
{% endblock %}

{% block content %}
<body>
    {% include "explorer/_searchbar.html" %}


    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center">Contract</p>
            </div>
        </div>
    </div>

    <div class="container poppins-font">
        <div class="info-table px-md-5" id="contract-info">
            <div class="row info-id">
                <span class="info-id-icon"><img src="{% static 'img/explorer/contract icon.png' %}" alt=""></span>
                <span class="col info-id-serial"  style="top: 4px;">{{address}}</span>
            </div> 
            <div class="info-table-subtitle">Overview</div>
            <div class="row info-row">
                <div class="col-3"></div>
                <div class="col poppins-light"></div>
            </div>
            <div class="row info-row">
                <div class="col-3">Balance:</div>
                <div class="col poppins-light">{{balance}}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Transactions:</div>
                <div class="col poppins-light">{{txs_count}}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Contract Creator:</div>
                <div class="col poppins-light">{{creator}}</div>
            </div>
            <div class="row tab-row info-row">
                <div class="tab-header">
                    <button class="tab-header-item active" onclick="tabtab(event, 'code')">Code</button>
                    <button class="tab-header-item" onclick="tabtab(event, 'txs')">Transactions</button>
                </div>
                <div class="tab-content">
                    <div class="tab-content-item active" id='code'>
                        <div class="info-table-subtitle">Contract Source Code</div>
                        <div class="raw-data-container">
                            <div class="raw-data-content">
                                <p>{{ code }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-item" id="txs">
                        <div class="info-table-list">
                            <div class="info-table-list-title">
                                Latest 25 txs from a total of <a href>{{ txs_count }} transactions</a>
                            </div>
                            <div class="info-table-list-content">
                                <div class="table">
                                    <div class="row list-header">
                                        <div class="col text-truncate">TxHash</div>
                                        <div class="col text-truncate">Block</div>
                                        <div class="col text-truncate">Age</div>
                                        <div class="col text-truncate">From</div>
                                        <div class="col-1 text-truncate">&nbsp;</div>
                                        <div class="col text-truncate">To</div>
                                        <div class="col text-truncate">Value</div>
                                        <div class="col text-truncate">TxFee</div>
                                    </div>
                                    {% for tx in txs %}
                                        <div class="row row-content">
                                            <div class="col text-truncate"><a href="{% url 'explorer:tx' tx.hash %}">{{ tx.hash }}</a></div>
                                            <div class="col text-truncate"><a href="{% url 'explorer:block' tx.blockNumber %}">{{ tx.blockNumber }}</a></div>
                                            <div class="col text-truncate">{{ tx.timestamp }}</div>
                                            <div class="col text-truncate"><a href="{% url 'explorer:address' tx.from %}">{{ tx.from }}</a></div>
                                            <div class="col-1 text-truncate flag-{{tx.flag}}"><span>{{ tx.flag }}</span></div>
                                            <div class="col text-truncate"><a href="{% url 'explorer:address' tx.to %}">{{ tx.to }}</a></div>
                                            <div class="col text-truncate">{{ tx.value }}</div>
                                            <div class="col text-truncate">{{ tx.txfee|floatformat:10 }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js"></script>

    <script>
        function tabtab(evt, tabid) {
            console.log(evt, tabid)
            var i, tabcontents, tablinks;
            tabcontents = document.getElementsByClassName('tab-content-item')
            for (i=0; i<tabcontents.length; i++) {
                tabcontents[i].classList.remove('active')
            }
            tablinks = document.getElementsByClassName('tab-header-item')
            for (i=0; i<tablinks.length; i++) {
                tablinks[i].classList.remove('active')
            }
            document.getElementById(tabid).classList.add('active')
            evt.currentTarget.classList.add('active')
        }
        var ps = new PerfectScrollbar('.raw-data-container')
    </script>

</body>
{% endblock %}
