{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">
    <link href="https://cdn.bootcss.com/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/default.js"></script>
    <script src="/static/js/util.js"></script>
{#    <script src="/static/js/echarts-en.min.js"></script>#}
    <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts-en.min.js"></script>
    <script src="/static/js/echarts-theme-walden.js"></script>
    <script src="/static/js/echarts-linear-options.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}
{% block title %}
    <title>Explorer &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <body class="page-template page-template-news page-template-news-php page page-id-15 language-en has-header-image page-two-column colors-light">

    {% comment %} HEADER {% endcomment %}
    {% include "explorer/_searchbar.html" %}
    <div class="jumbotron jumbotron-fluid jumbotron-bg pt-3 pb-4">
        <div class="container" id="explorer-header" class="explorer-header">
            <div class="my-5"></div>
            <div class="row">
                <a class="col" href="{% url 'explorer:blocks' %}">
                    <div class="text-center"><h1 class="number-font" v-text="blockHeight">0</h1></div>
                    <div class="text-center"><h3 class="index-font">Block Height</h3></div>
                </a>
                <a class="col" href="{% url 'explorer:txs' %}">
                    <div class="text-center"><h1 class="number-font" v-text="txsc">0</h1></div>
                    <div class="text-center">
                        <h3 class="index-font">
                            Transaction<span class="sub-font">( <span v-text="tps">0</span> TPS)</span>
                        </h3>
                    </div>
                </a>
                <a class="col" href="{% url 'explorer:rnode' %}">
                    <div class="text-center"><h1 class="number-font" v-text="rnode"></h1></div>
                    <div class="text-center"><h3 class="index-font">RNode</h3></div>
                </a>
                <a class="col" href="{% url 'explorer:committee' %}">
                    <div class="text-center"><h1 class="number-font" v-text="committee"></h1></div>
                    <div class="text-center"><h3 class="index-font">Committee</h3></div>
                </a>
            </div>
        </div>
    </div>

    {% comment %} GRAPH {% endcomment %}
    <div class="container">
        <div class="table-header table-header-left">
            <div class="table-header-main">Blockchain Indicator</div>
        </div>
        <div class="container">
            <div id="chart"></div>
        </div>
    </div>

    {% comment %} explore {% endcomment %}
    <div class="container" id="explorer-tables">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="table-header">
                    <div class="table-header-main">Blocks</div>
                    <div class="table-header-sub"><a href="blocks">See all</a></div>
                </div>
                <div class="table-content">
                    <transition-group tag="div" name="slide-fade">
                        <div class="card table-item" v-for="block in blocks" :key="block.id">
                            <div class="card-body table-item-body">
                                <div class="row">
                                    <div class="col-8 table-item-icon">
                                        <p class="text-left">icon</p>
                                    </div>
                                    <div class="col-4 table-item-sub">
                                        <p class="text-right text-truncate">Block Reward: [[block.reward]] Wei</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 table-item-id">
                                        <p class="text-left text-truncate"><a :href="'/explorer/block/'+block.id">#[[block.id]]</a></p>
                                    </div>
                                    <div class="col-4 table-item-bonus">
                                        <p class="text-right text-truncate"><a :href="'/explorer/txs/?block='+block.id">[[block.txs]] Transactions</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 table-item-desc">
                                        <p class="text-left text-truncate">Produced by <a :href="'/explorer/address/'+block.producerID">[[block.producerID]]</a>
                                        </p>
                                    </div>
                                    <div class="col-4 table-item-time">
                                        <p class="text-right text-truncate">[[block.timeTicker]] ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition-group>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="table-header">
                    <div class="table-header-main">Transactions</div>
                    <div class="table-header-sub"><a href="txs">See all</a></div>
                </div>
                <div class="table-content">
                    <transition-group tag="div" name="slide-fade">
                        <div class="card table-item" v-for="tx in txs" :key="tx.hash">
                            <div class="card-body table-item-body">
                                <div class="row">
                                    <div class="col-8 table-item-icon">
                                        <p class="text-left">icon</p>
                                    </div>
                                    <div class="col-4 table-item-sub">
                                        <p class="text-right">[[tx.amount]]</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 table-item-id">
                                        <p class="text-left"><a :href="'/explorer/tx/'+tx.hash">[[tx.hash && (tx.hash.substr(0, 32) + "...")]]</a></p>
                                    </div>
                                    <div class="col-4 table-item-bonus">
                                        <p class="text-right"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 table-item-desc">
                                        <p class="text-left row mx-0">
                                            <span class="d-flex">From&nbsp;</span>
                                            <a :href="'/explorer/address/'+tx.sellerID" class="text-truncate col px-0">[[tx.sellerID]]</a>
                                            <span class="d-flex">&nbsp;To&nbsp;</span>
                                            <a :href="'/explorer/address/'+tx.buyerID" class="text-truncate col px-0">[[tx.buyerID]]</a>
                                        </p>
                                    </div>
                                    <div class="col-4 table-item-time">
                                        <p class="text-right">[[tx.timeTicker]] ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition-group>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/default.js"></script>
    <script src="/static/js/util.js"></script>
{#    <script src="/static/js/echarts-en.min.js"></script>#}
    <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts-en.min.js"></script>
    <script src="/static/js/echarts-theme-walden.js"></script>
    <script src="/static/js/echarts-linear-options.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{#    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>#}
    <script type='text/javascript'
            src='https://cpchain.io/wp-content/themes/cpchain/assets/js/skip-link-focus-fix.js?ver=1.0'></script>
    <script type='text/javascript' src='https://cpchain.io/wp-includes/js/wp-embed.min.js?ver=4.9.7'></script>

    <script src="https://cpchain.io/wp-content/themes/cpchain/assets/node_modules/swiper/dist/js/swiper.min.js"></script>
    <script src="https://cpchain.io/wp-content/themes/cpchain/assets/node_modules/vanilla-tilt/dist/vanilla-tilt.min.js"></script>

    <script>

        // swiper for application pages
        var swiperTeam = new Swiper('.swiper-container-applications', {
            slidesPerView: 1,
            autoplay: false,
            grabCursor: false,
            allowTouchMove: false,
            autoHeight: true,
        });

        swiperTeam.on('slideChange', function () {
            // change active image
            let currentSlide = this.activeIndex;
        });

        function goToApplicationSwiper(index, e) {
            swiperTeam.slideTo(index, 200);
        }

    </script>

    <script>
        var mainChart = echarts.init(document.getElementById('chart'), 'echarts-theme-walden')

        /*
            更新图像数据
            data: Array, [{
            time: 数据日期,
            bk: 当天区块数,
            tx: 当天交易数
            }, {}, ...]
        */

        function updateChartData(data) {
            var fetchedData = data;

            fetchedData.forEach(item => {
                echartOption.xAxis[0].data.push(item.time)
                echartOption.series[0].data.push(item.bk)
                echartOption.series[1].data.push(item.tx)
            })

            mainChart.setOption(echartOption)

        }

        var explorerChartData = {{ chart|safe }}
        // var explorerChartData = []
        updateChartData(explorerChartData)
        window.onresize = chartResize

        function chartResize() {
            mainChart.resize()
        }
    </script>

    <script>
        var explorerHeaderApp = new Vue({
            el: '#explorer-header',
            delimiters: [`[[`, `]]`],
            data: {
                blockHeight: 0,
                txs: 0,
                rnode: 0,
                committee: 0,
                loaded: false,
                tps: 0,
            },
            computed: {
                txsc: function () {
                    return this.txs
                }
            }
        })

        function updateHeader(json) {
            explorerHeaderApp.blockHeight = json.blockHeight;
            explorerHeaderApp.txs = json.txs;
            explorerHeaderApp.rnode = json.rnode;
            explorerHeaderApp.tps = json.tps;
            explorerHeaderApp.committee = json.committee;
            explorerHeaderApp.loaded = true
        }
    </script>

    <script>
        var explorerTablesApp = new Vue({
            el: '#explorer-tables',
            delimiters: [`[[`, `]]`],
            data: {
                blocks: [],
                txs: []
            },
            methods: {
                gotoBlock: function (id) {
                    window.location.href = `/block/${id}`
                },
                gotoTx: function (id) {
                    window.location.href = `/tx/${id}`
                }
            }
        })

        // {% comment %} timeticker: live time {% endcomment %}
        const tableItemLimit = 10

        function updateTimeTicker() {
            var cts = parseInt((Date.now() + 500) / 1000)
            explorerTablesApp.blocks.forEach((block, index) => {
                const newTimeTicker = formatTS(cts - block.timestamp)
                Vue.set(block, 'timeTicker', newTimeTicker)
            })
            explorerTablesApp.txs.forEach((tx, index) => {
                const newTimeTicker = formatTS(cts - tx.timestamp)
                Vue.set(tx, 'timeTicker', newTimeTicker)
            })
        }

        function autoGenerateBlock(block) {
            block.timeTicker = '0 second'
            explorerTablesApp.blocks.unshift(block)
            if (explorerTablesApp.blocks.length > tableItemLimit) {
                explorerTablesApp.blocks.pop()
            }
        }

        function autoGenerateTx(tx) {
            tx.timeTicker = '0 second'
            explorerTablesApp.txs.unshift(tx)
            if (explorerTablesApp.txs.length > tableItemLimit) {
                explorerTablesApp.txs.pop()
            }
        }


        function initTables(blocks, txs) {
            blocks.forEach((block) => {
                autoGenerateBlock(block)
            })
            txs.forEach(tx => {
                autoGenerateTx(tx)
            })
        }

        var explorerBlocks = {{ blocks|safe }};
        var explorerTxs = {{ txs|safe }};
        // var blocks = [{
        //     id: 111,
        //     timestamp: Date().now,
        // }]
        // var txs = [{
        //     hash: 'xx',
        //     buyerID: '0x2f0176cc3a8617b6ddea6a501028fa4c6fc25ca1',
        //     sellerID: '0x2f0176cc3a8617b6ddea6a501028fa4c6fc25ca1',
        //     timestamp: Date().now,
        // }]
        initTables(explorerBlocks, explorerTxs);
        setInterval(updateTimeTicker, 1000)
    </script>

    <script>
        var ps = new PerfectScrollbar('.table-content')
    </script>

    </body>
{% endblock %}
