{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">
    <link href="https://cdn.bootcss.com/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/static/js/default.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/echarts-en.min.js"></script>
    <script src="/static/js/echarts-theme-walden.js"></script>
    <script src="/static/js/echarts-linear-options.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js"></script>
{% endblock %}
{% block title %}
    <title>Explorer &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <body class="page-template page-template-news page-template-news-php page page-id-15 language-en has-header-image page-two-column colors-light">

    {% comment %} HEADER {% endcomment %}
    {% include "explorer/_searchbar.html" %}
    <div class="jumbotron jumbotron-fluid jumbotron-bg pt-3 pb-4">
        <div class="container" id="explorer-header">
            <div class="my-5"></div>
            <div class="row">
                <div class="col">
                    <div class="text-center"><h1 class="number-font">[[blockHeight]]</h1></div>
                    <div class="text-center"><h3 class="index-font">Block Height</h3></div>
                </div>
                <div class="col">
                    <div class="text-center"><h1 class="number-font">[[txsc]]</h1></div>
                    <div class="text-center"><h3 class="index-font">Transaction<span
                            class="sub-font">([[tps]] TPS)</span></h3></div>
                </div>
                <div class="col">
                    <div class="text-center"><h1 class="number-font">[[rnode]]</h1></div>
                    <div class="text-center"><h3 class="index-font">RNode</h3></div>
                </div>
                <div class="col">
                    <div class="text-center"><h1 class="number-font">[[committee]]</h1></div>
                    <div class="text-center"><h3 class="index-font">Committee</h3></div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} GRAPH {% endcomment %}
    <div class="container">
        <div class="table-header table-header-left">
            <div class="table-header-main">Blockchain Indicator</div>
        </div>
        <div class="container">
            <div id="chart"></div>
        </div>
    </div>

    {% comment %} explore {% endcomment %}
    <div class="container" id="explorer-tables">
        <div class="row">
            <div class="col-6 col-lg-6">
                <div class="table-header">
                    <div class="table-header-main">Blocks</div>
                    <div class="table-header-sub"><a href="blocks">See all</a></div>
                </div>
                <div class="table-content">
                    <transition-group tag="div" name="slide-fade">
                        <div class="card table-item" v-for="block in blocks" :key="block.timestamp">
                            <div class="card-body table-item-body">
                                <div class="row">
                                    <div class="col-8 table-item-icon">
                                        <p class="text-left">icon</p>
                                    </div>
                                    <div class="col-4 table-item-sub">
                                        <p class="text-right">Block Reward: [[block.reward]] TRX</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 table-item-id">
                                        <p class="text-left"><a :href="'/explorer/block/'+block.id">#[[block.id]]</a></p>
                                    </div>
                                    <div class="col-4 table-item-bonus">
                                        <p class="text-right"><a :href="'/explorer/txs/?block='+block.id">[[block.txs]] Transactions</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 table-item-desc">
                                        <p class="text-left">Produced by <a :href="'/explorer/address/'+block.producerID">[[block.producerID]]</a></p>
                                    </div>
                                    <div class="col-4 table-item-time">
                                        <p class="text-right">[[block.timeTicker]] ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition-group>
                </div>
            </div>
            <div class="col-6 col-lg-6">
                <div class="table-header">
                    <div class="table-header-main">Transactions</div>
                    <div class="table-header-sub"><a href="txs">See all</a></div>
                </div>
                <div class="table-content">
                    <transition-group tag="div" name="slide-fade">
                        <div class="card table-item" v-for="tx in txs" @click="gotoTx(tx.id)" :key="tx.timestamp">
                            <div class="card-body table-item-body">
                                <div class="row">
                                    <div class="col-8 table-item-icon">
                                        <p class="text-left">icon</p>
                                    </div>
                                    <div class="col-4 table-item-sub">
                                        <p class="text-right">[[tx.amount]]</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 table-item-id">
                                        <p class="text-left"><a :href="'/explorer/tx/'+tx.id">[[tx.hash]]</a></p>
                                    </div>
                                    <div class="col-4 table-item-bonus">
                                        <p class="text-right"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 table-item-desc">
                                        <p class="text-left">From <a :href="'/explorer/address/'+tx.sellerID">[[tx.sellerID]]</a> To <a :href="'/explorer/address/'+tx.buyerID">[[tx.buyerID]]</a></p>
                                    </div>
                                    <div class="col-4 table-item-time">
                                        <p class="text-right">[[tx.timeTicker]] ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition-group>
                </div>
            </div>
        </div>
    </div>


    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type='text/javascript'
            src='https://cpchain.io/wp-content/themes/cpchain/assets/js/skip-link-focus-fix.js?ver=1.0'></script>
    <script type='text/javascript' src='https://cpchain.io/wp-includes/js/wp-embed.min.js?ver=4.9.7'></script>

    <script src="https://cpchain.io/wp-content/themes/cpchain/assets/node_modules/swiper/dist/js/swiper.min.js"></script>
    <script src="https://cpchain.io/wp-content/themes/cpchain/assets/node_modules/vanilla-tilt/dist/vanilla-tilt.min.js"></script>

    <script>

        let header = document.getElementById('header');
        window.addEventListener('scroll', function (e) {
            (window.scrollY > 30) ? header.classList.add('active') : header.classList.remove('active');
        });

        //Navigation
        let anchorlinks = document.querySelectorAll('a[href^="#"]');
        for (let item of anchorlinks) {
            item.addEventListener('click', (e) => {

                for (let i of anchorlinks) {
                    (i.textContent != item.textContent) ? i.classList.remove('selected') : i.classList.add('selected');
                }

                let hashval = item.getAttribute('href');
                let target = document.querySelector(hashval)
                target.scrollIntoView({
                    behavior: 'smooth'
                });
                history.pushState(null, null, hashval);
                e.preventDefault();
                openMenu(0);
            });
        }


        function openMenu(type) {
            let menuHolder = document.getElementById('mySidenav');
            (type == 1) ? menuHolder.classList.add('col-8', 'active') : menuHolder.classList.remove('col-8', 'active');
        }

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // swiper for application pages
        var swiperTeam = new Swiper('.swiper-container-applications', {
            slidesPerView: 1,
            autoplay: false,
            grabCursor: false,
            allowTouchMove: false,
            autoHeight: true,
        });

        swiperTeam.on('slideChange', function () {
            // change active image
            let currentSlide = this.activeIndex;
        });

        function goToApplicationSwiper(index, e) {
            swiperTeam.slideTo(index, 200);
        }

    </script>

    <script>
        var mainChart = echarts.init(document.getElementById('chart'), 'echarts-theme-walden')
        /* 
            更新图像数据
            data: Array, [{
            time: 数据日期,
            bk: 当天区块数,
            tx: 当天交易数
            }, {}, ...]
        */

        function updateChartData(data) {
            var fetchedData = data;
    
            fetchedData.forEach(item => {
                echartOption.xAxis[0].data.push(item.time)
                echartOption.series[0].data.push(item.bk)
                echartOption.series[1].data.push(item.tx)
            })

            mainChart.setOption(echartOption)

        }

        data =[{'time':'11/22','bk':992,'tx':333},{'time':'11/21','bk':949,'tx':333},{'time':'11/22','bk':9999,'tx':3333}]
        updateChartData(data)
        window.onresize = chartResize

        function chartResize() {
            mainChart.resize()
        }
    </script>

    <script>
        var explorerHeaderApp = new Vue({
            el: '#explorer-header',
            delimiters: [`[[`, `]]`],
            data: {
                blockHeight: 0,
                txs: 0,
                rnode: 0,
                tps: 0,
                committee: 0,
                loaded: false
            },
            computed: {
                txsc: function () {
                    return this.txs
                }
            }
        })

        function updateHeader(json) {
            explorerHeaderApp.blockHeight = json.blockHeight;
            explorerHeaderApp.txs = json.txs;
            explorerHeaderApp.rnode = json.rnode;
            explorerHeaderApp.tps = json.tps;
            explorerHeaderApp.committee = json.committee;
            explorerHeaderApp.loaded = true
        }


    </script>

    <script>
        var explorerTablesApp = new Vue({
            el: '#explorer-tables',
            delimiters: [`[[`, `]]`],
            data: {
                blocks: [],
                txs: []
            },
            methods: {
                gotoBlock: function(id) {
                    window.location.href = `/block/${id}`
                },
                gotoTx: function(id) {
                    window.location.href = `/tx/${id}`
                }
            }
        })

        // {% comment %} timeticker: live time {% endcomment %}
        const tableItemLimit = 10

        function updateTimeTicker() {
            var cts = parseInt(Date.now() / 1000)
            explorerTablesApp.blocks.forEach((block, index) => {
                const newTimeTicker = formatTS(cts - block.timestamp)
                Vue.set(block, 'timeTicker', newTimeTicker)
            })
            explorerTablesApp.txs.forEach((tx, index) => {
                const newTimeTicker = formatTS(cts - tx.timestamp)
                Vue.set(tx, 'timeTicker', newTimeTicker)
            })
        }

        function autoGenerateBlock(block) {
            block.timeTicker = '0 second'
            explorerTablesApp.blocks.unshift(block)
            if (explorerTablesApp.blocks.length > tableItemLimit) {
                explorerTablesApp.blocks.pop()
            }
        }

        function autoGenerateTx(tx) {
            tx.timeTicker = '0 second'
            explorerTablesApp.txs.unshift(tx)
            if (explorerTablesApp.txs.length > tableItemLimit) {
                explorerTablesApp.txs.pop()
            }
        }



        function initTables(blocks, txs) {
           blocks.forEach((block) => {
               autoGenerateBlock(block)
           })
           txs.forEach(tx => {
               autoGenerateTx(tx)
           })
        }
        var blocks = {{ blocks|safe }};
        var txs = {{ txs|safe }}
        initTables(blocks,txs);
        setInterval(updateTimeTicker, 1000)
    </script>

    <script>
        var ps = new PerfectScrollbar('.table-content')
    </script>

    </body>
{% endblock %}
