<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<h1 style="padding-left: 30px">Impeach Frequency of CPChain</h1>
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript"
        src="https://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="https://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '正负条形图';

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['Our success', 'Our impeach', 'Community success', 'Community impeach']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        yAxis: [
            {
                type: 'value'
            }
        ],
        xAxis: [
            {
                type: 'category',
                axisTick: {show: false},
                data: [
                    {% for day in chart %}
                        '{{day.date}}',
                    {% endfor %}
                ]
            }
        ],
        series: [
            {
                name: 'Our success',
                type: 'bar',
                stack: 'our',
                color: ['#73af93'],
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                data: [{% for day in chart %}
                    '{{day.our_success}}',
                {% endfor %}]
            },
            {
                name: 'Our impeach',
                type: 'bar',
                stack: 'our',
                color: ['#344553'],

                label: {
                    normal: {
                        show: true,
                        position: 'bottom'
                    }
                },
                data: [{% for day in chart %}
                    '{{day.our_impeachs}}',
                {% endfor %}]
            },
            {
                name: 'Community success',
                type: 'bar',
                stack: 'com',
                color: ['#709ea6'],

                label: {
                    normal: {
                        show: true,
                        position: "top"
                    }
                },
                data: [{% for day in chart %}
                    '{{day.com_success}}',
                {% endfor %}]
            },
            {
                name: 'Community impeach',
                type: 'bar',
                stack: 'com',
                color: ['#c8856b'],

                label: {
                    normal: {
                        show: true,
                        position: 'bottom'

                    }
                },
                data: [{% for day in chart %}
                    '{{day.com_impeachs}}',
                {% endfor %}]
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
</body>
</html>
