{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script type="text/javascript" src="https://unpkg.com/vue"></script>
{#//    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Proposers &#8211; CPChain</title>
    <META HTTP-EQUIV="Refresh" content="5">
{% endblock %}
{% block content %}
    <body class="page-template-news">

    {% include "explorer/_searchbar.html" %}
    <div class="container">
        <div class="page-header">
            <div class="page-header-main" id="explorer-header">
                <div class="row text" style="margin-bottom: 97px">
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ term }}</h1></div>
                        <div class="text-left"><h3 class="index-font"style="margin-top: 12px">Current Term</h3></div>
                    </a>
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ view }}</h1></div>
                        <div class="text-left"><h3 class="index-font"style="margin-top: 12px">Current View</h3></div>
                    </a>
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ TermLen }}</h1></div>
                        <div class="text-left"><h3 class="index-font"style="margin-top: 12px">Proposers</h3></div>
                    </a>
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ BlockNumber }}</h1></div>
                        <div class="text-left"><h3 class="index-font"style="margin-top: 12px">Block Number</h3></div>
                    </a>
                </div>
                <h1 class="text-left poppins-font">Proposers</h1>
            </div>
        </div>
        <div class="info-table" id="blocks-list">
            <div class="info-table-list" >
                <div class="info-table-list-content">
                    <div class="table" style="padding-top: 47px">
                        {% for proposer in proposers %}
                            <div class="row row-content">
                                <div class="col-2 text-truncate">{% ifequal forloop.counter0 view %}
                                    <img src="{% static 'img/explorer/currentProposer.png' %}">
                                {% endifequal %}</div>
                                <div class="col-6 text-truncate pingfang"><a
                                        href="{% url 'explorer:address' proposer %}"
                                        style="color:#1BA3FF;font-size: 15px">{{ proposer }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var blockListApp = new Vue({
            el: '#blocks-list',
            delimiters: [`[[`, `]]`],
            methods: {
                convertTime: function (tss) {
                    return formatTS(tss)
                }
            }
        })
    </script>

    </body>

{% endblock %}
