
{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>RNode &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <body class="page-template-news">
    {% include "explorer/_searchbar.html" %}
    <div class="container">
        <div class="page-header">
            <div class="page-header-main"  id="explorer-header" >
                <div class="row text" style="margin-bottom: 97px">
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ epoch }}</h1></div>
                        <div class="text-left"><h3 class="index-font">Current Epoch</h3></div>
                    </a>
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ rnodes|length }}</h1></div>
                        <div class="text-left"><h3 class="index-font">RNodes</h3></div>
                    </a>
                </div>
                <h1 class="text-left">Rank</h1>
            </div>
        </div>
        <div class="info-table px-md-5" id="blocks-list">
            <div class="info-table-list">
                <div class="info-table-list-content">
                    <div class="table">
                        <div class="row list-header">
                            <div class="col-2 text-truncate">Rank</div>
                            <div class="col-6 text-truncate">RNodes</div>
                            <div class="col-2 text-truncate">Reputation</div>
                            <div class="col-2 text-truncate">Status</div>
                        </div>
                        {% for rnode in rnodes %}
                            <div class="row row-content">
                                <div class="col-2 text-truncate">{{ forloop.counter }}</div>
                                <div class="col-6 text-truncate"><a href="{% url 'explorer:address' rnode.Address %}"  style="color:#1BA3FF;" >{{ rnode.Address }}</a></div>
                                <div class="col-2 text-truncate card-grey">{{ rnode.Rpt }}</div>
                                <div class="col-2 text-truncate card-grey">{% ifequal rnode.Status 0 %}
                                    Committee
                                {% else %}
                                    Candidate
                                {% endifequal %}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var blockListApp = new Vue({
            el: '#blocks-list',
            delimiters: [`[[`, `]]`],
            methods: {
                convertTime: function (tss) {
                    return formatTS(tss)
                }
            }
        })
    </script>

    </body>

{% endblock %}
