{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    {#//    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>RNode &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <body class="page-template-news">
    {% include "explorer/_searchbar.html" %}
    <div class="container">
        <div class="page-header">
            <div class="page-header-main" id="explorer-header">
                <div class="row text" style="margin-bottom: 97px">
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ term }}</h1></div>
                        <div class="text-left"><h3 class="index-font" style="margin-top: 12px">Current Term</h3></div>
                    </a>
                    <a class="col-2" href="#">
                        <div class="text-left"><h1 class="number-font">{{ rnodes|length }}</h1></div>
                        <div class="text-left"><h3 class="index-font" style="margin-top: 12px">RNodes</h3></div>
                    </a>
                </div>
                <h1 class="text-left poppins-font">Rank</h1>
            </div>
        </div>
        <div class="info-table " id="blocks-list">
            <div class="info-table-list">
                <div class="info-table-list-content">
                    <div class="table">
                        <div class="row" style="padding-left: 25px;margin-top: 30px">
                            <div class="col-2 text-truncate list-header">Rank</div>
                            <div class="col-6 text-truncate list-header">RNodes</div>
                            <div class="col-2 text-truncate list-header" style="padding-left: 10px">Reputation</div>
                            <div class="col-2 text-truncate list-header" style="padding-left: 5px">Status</div>
                        </div>
                        {% for rnode in rnodes %}
                            <div class="row row-content" style="padding-left: 25px">
                                <div class="col-2 text-truncate">{{ forloop.counter }}</div>
                                <div class="col-6 text-truncate"><a href="{% url 'explorer:address' rnode.Address %}"
                                                                    style="color:#1BA3FF;font-family:'Helvetica Neue,Helvetica,Arial,sans-serif';">{{ rnode.Address }}</a>
                                </div>
                                <div class="col-2 text-truncate card-grey">{{ rnode.Rpt }}</div>
                                <div class="col-2 text-truncate card-grey">{% ifequal rnode.Status 0 %}
                                    Proposer
                                {% else %}
                                    RNode
                                {% endifequal %}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var blockListApp = new Vue({
            el: '#blocks-list',
            delimiters: [`[[`, `]]`],
            methods: {
                convertTime: function (tss) {
                    return formatTS(tss)
                }
            }
        })
    </script>

    </body>

{% endblock %}
