{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Transaction Infomation</title>
{% endblock %}
{% block content %}
<body>
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center">Transaction Information</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="info-table px-md-5" id="tx-info">
            <div class="row info-id">
                <span class="info-id-icon">ICON</span>
                <span class="col info-id-serial">{{tx_dict.hash}}</span>
            </div>
            <div class="row info-row">
                <div class="col-3">TxHash:</div>
                <div class="col">{{tx_dict.hash}}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">TxReceipt Status:</div>
                <div class="col">
                    <span :class="[(rcStatus? 'rc-success': 'rc-fail'), 'rc-status']">[[rcStatus?'Success': 'Failed']]</span>
                </div>
            </div>
            <div class="row info-row">
                <div class="col-3">Block Height:</div>
                <div class="col">{{tx_dict.blockNumber}}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Time:</div>
                <div class="col">[[timeTicker]]</div>
            </div>
            <div class="row info-row">
                <div class="col-3">From:</div>
                <div class="col"><a href="{% url 'explorer:address' tx_dict.from %}">{{tx_dict.from}}</a></div>
            </div>
            <div class="row info-row">
                <div class="col-3">To:</div>
                <div class="col"><a href="{% url 'explorer:address' tx_dict.to %}">{{ tx_dict.to }}</a></div>
            </div>
            <div class="row info-row">
                <div class="col-3">Value:</div>
                <div class="col">{{ tx_dict.value }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Gas Used By Transaction:</div>
                <div class="col">{{ tx_dict.gas }}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Gas Limit:</div>
                <div class="col"></div>
            </div>
            <div class="row info-row">
                <div class="col-3">Gas Price:</div>
                <div class="col">{{tx_dict.gasPrice}}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Actual Tx Cost/Fee:</div>
                <div class="col">{{tx_dict.txfee}}</div>
            </div>
            <div class="row info-row">
                <div class="col-3">Input Data:</div>
                <div class="col">
                    <div class="raw-data-container">
                        <div class="raw-data-content">
                            [[inputData]]
                        </div>
                        <div class="raw-data-type-form">
                            <div class="form-check-inline form-check" @click="toggleDataType(0)">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1">Default View</label>
                            </div>
                            <div class="form-check-inline form-check" @click="toggleDataType(1)">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Origin</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row info-row"></div>
        </div>
    </div>

    <script>
        var txInfoApp = new Vue({
            el: '#tx-info',
            delimiters: [`[[`, `]]`],
            computed: {
                timeTicker: function() {
                    return `${convertDate({{tx_dict.date | safe}})} ago`
                },
                inputData: function() {
                    return {{tx_dict.input | safe}}
                }
            },
            methods: {
                toggleDataType: function(type) {

                }
            }
        })

    </script>
</body>
{% endblock %}