{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Transaction Infomation</title>
{% endblock %}
{% block content %}
<body>
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center">Transaction Information</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="info-table" id="tx-info">
            <div class="info-id">
                <span class="info-id-icon">ICON</span>
                <span class="col info-id-serial">[[hash]]</span>
            </div>
            <div class="row info-row">
                <div class="col-4">TxHash:</div>
                <div class="col-8">[[hash]]</div>
            </div>
            <div class="row info-row">
                <div class="col-4">TxReceipt Status:</div>
                <div class="col-8">
                    <span :class="[rcStatus? 'rc-success': 'rc-fail']">[[rcStatus]]</span>
                </div>
            </div>
            <div class="row info-row">
                <div class="col-4">Time:</div>
                <div class="col-8">[[timeTicker]]</div>
            </div>
            <div class="row info-row">
                <div class="col-4">TxHash:</div>
                <div class="col-8">[[hash]]</div>
            </div>
        </div>
    </div>

    <script>
        var txInfoApp = new Vue({
            el: '#tx-info',
            delimiters: [`[[`, `]]`],
            data: {
                hash: 'xx',
                rcStatus: true,
                timestamp: 0,
            },
            computed: {
                timeTicker: function() {
                    return `${formatTS(this.timestamp)} ago`
                }
            }
        })

        function updateTxInfo(json) {
            Object.keys(json).forEach(key => {
                txInfoApp[key] = json[key]
            })
        }

        updateTxInfo({
            hash: '===',
            rcStatus: false,
            timestamp: Date.now()
        })
    </script>
</body>
{% endblock %}