<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tx_info:{{ tx_dict.hash }}</title>
</head>
<body>
<h1><a href="/explorer">index</a></h1>
transaction info
<ul>
    <li>tx_hash: {{ tx_dict.hash }}</li>
    <li>TxReceipt Status: {{ tx_dict.status }}</li>
    <li><a href="/block/{{ tx_dict.blockNumber }}">block height:{{ tx_dict.blockNumber }}</a></li>
    <li>time:{{ tx_dict.date }} </li>
    <li><a href="/address/{{ tx_dict.from }}">from: {{ tx_dict.from }}</a></li>
    <li><a href="/address/{{ tx_dict.to }}">to: {{ tx_dict.to }}</a></li>
    <li>value: {{ tx_dict.value }}</li>
    <li>Gas Used By Transaction: {{ tx_dict.gas }}</li>
    <li>gas limit: </li>
    <li>gas price: {{ tx_dict.gasPrice }}</li>
    <li>actual Tx cost/fee :{{ tx_dict.txfee }}</li>
    <li>input data: </li>
    <textarea name="" id="" cols="150" rows="20">{{ tx_dict.input }}</textarea>
</ul>
</body>
</html>