{% extends 'base.html' %}
{% load static %}
{% block custom_head %}
    <link rel="stylesheet" href="/static/css/explorer.css?v=0.1" content="text/css">
    <link rel="stylesheet" href="/static/css/reset.css" content="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/util.js"></script>
{% endblock %}
{% block title %}
    <title>Transaction Infomation &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <body class="page-template-news">
    {% include "explorer/_searchbar.html" %}

    <div class="container">
        <div class="page-header">
            <div class="page-header-main">
                <p class="text-center poppins-font">Transactions</p>
            </div>
            {% if blockNumber %}
                <div class="page-header-main text-center">
                    <p class="text-truncate poppins-font card-link">Transactions for <a
                            href="{% url 'explorer:block' blockNumber %}"> Block #{{ blockNumber }}</a>. &nbsp;A
                        Total Of {{ txs_count }} transactions found</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="info-table px-md-5 " id="blocks-list">
            <div class="info-table-list">
                <div class="info-table-list-content">
                    <div class="table">
                        <div class="row list-header">
                            <div class="col text-truncate">TxHash</div>
                            <div class="col text-truncate">Block</div>
                            <div class="col text-truncate" style="margin-left: -40px">Age</div>
                            <div class="col text-truncate">From</div>
                            <div class="col text-truncate">To</div>
                            <div class="col text-truncate">Value</div>
                            <div class="col text-truncate">TxFee</div>
                        </div>
                        {% for tx in txs.object_list %}
                            <div class="row row-content">
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:tx' tx.hash %}">{{ tx.hash }}</a></div>
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:block' tx.blockNumber %}">{{ tx.blockNumber }}</a></div>
                                <div class="col text-truncate" style="margin-left: -40px">>[[
                                    convertTime({{ tx.timestamp }}) ]] ago
                                </div>
                                <div class="col text-truncate"><a
                                        href="{% url 'explorer:address' tx.from %}">{{ tx.from }}</a></div>
                                <div class="col text-truncate">
                                    {% if tx.to %}
                                        <a href="{% url 'explorer:address' tx.to %}">{{ tx.to }}</a>
                                    {% else %}
                                        <a href="{% url 'explorer:address' tx.contract %}">Contract Creation</a>
                                    {% endif %}

                                </div>
                                <div class="col text-truncate">{{ tx.value }} CPC</div>
                                <div class="col text-truncate">{{ tx.txfee |floatformat:10 }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="pageturn">
            {% ifnotequal txs.pages|length 1 %}
                <ul class="pagelist">

                    {% if txs.has_previous %}
                        <li class="long"><a href="?{{ txs.previous_page_number.querystring }}"><i
                                class="fa fa-angle-left"></i></a></li>
                    {% endif %}
                    {% for page in txs.pages %}
                        {% if page %}
                            {% ifequal page txs.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li><a href="" class="none">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if txs.has_next %}
                        <li class="long"><a href="?{{ txs.next_page_number.querystring }}"><i
                                class="fa fa-angle-right"></i></a>
                        </li>
                    {% endif %}

                </ul>
            {% endifnotequal %}
            </div>
        </div>
    </div>
    <script>
        var blockListApp = new Vue({
            el: '#blocks-list',
            delimiters: [`[[`, `]]`],
            methods: {
                convertTime: function (tss) {
                    var cts = parseInt((Date.now() + 500) / 1000)
                    return formatTS(cts - tss)
                }
            }
        })
    </script>
    </body>
{% endblock %}
