@font-face {
    font-family: "poppins-italic";
    src: url("/static/css/Font/Poppins-Italic.otf");
}


@font-face {
    font-family: "poppins-light";
    src: url("/static/css/Font/Poppins-Light.otf");
}

@font-face {
    font-family: "poppins-light-italic";
    src: url("/static/css/Font/Poppins-LightItalic.otf");
}

.poppins-font {
    font-family: 'Poppins', sans-serif !important;
}

.poppins-light {
    font-family: 'poppins-light', sans-serif !important;
}

.poppins-light-italic {
    font-family: 'poppins-light-italic', sans-serif !important;
}

.poppins-italic {
    font-family: 'poppins-italic', sans-serif !important;
}

#header {
    box-shadow: 0 10px 2px;
}


#chart {
    width: 100%;
    height: 380px;
    margin: 70px 0;
}

.explorer-header h3 {
    letter-spacing: 2px;
}

#explorer-header .number-font {
    color: #305278;
    font-size: 28px;
    font-family: poppins-italic;
}

#explorer-header .index-font {
    color: #305278;
    font-size: 16px;
    font-family: Poppins;
}


#explorer-header .sub-font {
    font-size: 12px;
    letter-spacing: 1px;
}

#explorer-header .proposer {
    margin: 2px 4px 4px 4px;
    display: inline-block;
}

#explorer-header .sep {
    border-right: 2px #d5dce4 solid;
    padding-right: -2px;
}

.jumbotron-bg {
    background-color: #f7f9fc;
}

.table-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0;
}

.table-header .table-header-main {
    font-size: 18px;
    font-family: poppins-medium !important;
}

.table-header .table-header-sub {
    font-size: 14px;
    font-family: "Archivo", sans-serif;
}

.table-header.table-header-left::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    content: ' ';
    background: -webkit-gradient(linear, right top, left top, from(#1ba3ff), to(rgba(27, 163, 255, 0)));
    background: linear-gradient(to left, #1ba3ff, rgba(27, 163, 255, 0));
}

.table-header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    content: ' ';
    background: -webkit-gradient(linear, left top, right top, from(#1ba3ff), to(rgba(27, 163, 255, 0)));
    background: linear-gradient(to right, #1ba3ff, rgba(27, 163, 255, 0));
}

.table-content {
    margin: 40px 0;
    padding: 0 40px 0 10px;
    max-height: 460px;
    position: relative;
    overflow: scroll;

}


.table-content .table-item {
    margin-top: 8px;
    margin-bottom: 8px;
    -webkit-box-shadow: 0 9px 9px rgba(48, 82, 120, 0.05);
    box-shadow: rgba(48, 82, 120, 0.1) 0 0 9px;
}

.table-content .table-item .table-item-icon {
    height: 14px;
}

.table-content .table-item .table-item-id {
    font-size: 14px;
}

.table-content .table-item .table-item-desc {
    font-size: 12px;
}

.card-link a {
    color: #1ba3ff;
    font-family: 'Poppins';
}

.card-grey {
    color: #a9bcd4;
    font-family: poppins-light;
    font-size: 10px;
}

.table-content .table-item .table-item-bonus {
    font-size: 12px;
}

.table-content .table-item .table-item-sub {
    font-size: 12px;
}

.table-content .table-item .table-item-time {
    font-size: 10px;
}

.page-header {
    position: relative;
    padding: 54px 0 36px;
}

.page-header .page-header-main {
    font-size: 36px;
}

.page-header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    content: ' ';
    background: -webkit-gradient(linear, left top, right top, from(rgba(27, 163, 255, 0)), color-stop(rgba(27, 163, 255, 0.8)), to(rgba(27, 163, 255, 0)));
    background: linear-gradient(to right, rgba(27, 163, 255, 0), rgba(27, 163, 255, 0.8), rgba(27, 163, 255, 0));
}

.info-table {
    font-size: 18px;
    margin: 0 15px 120px;
}
@media screen and  (max-width: 576px){
    .info-table {
         margin: 0 0 !important;
    }
   
}

.info-table .info-id {
    margin: 58px 0px;
}

.info-table .info-id .info-id-icon {
    display: inline-block;
    margin-right: 16px;
}

.info-table .info-row {
    margin: 20px 0;
}

.info-table .info-row > div {
    padding: 0;
}

.info-table .info-row:first-child {
    font-weight: bold;
    line-height: 26px;
}

.info-table .info-row:last-child {
    font-weight: lighter;
}

.info-table .info-row .rc-status span {
    display: inline-block;
    padding: 0 17px;
    line-height: 26px;
    border-radius: 2px;
}

.info-table .info-row .rc-status .rc-success {
    background: #e0f0d0;
    color: #70b820;
}

.info-table .info-row .rc-status .rc-fail {
    background: #fbe7e5;
    color: #d50101;
}

.info-table .info-row a {
    color: #1BA3FF;
}

.info-table .info-row .raw-data-container .raw-data-content {
    height: 222px;
    padding: 20px 30px;
    background: #f7f9fc;
    border-radius: 2px;
    font-size: 14px;
    word-wrap: break-word;
    position: relative;
    overflow: hidden;
}

.info-table .info-row .raw-data-container .raw-data-content p:first-of-type {
    margin-bottom: 34px;
}

.info-table .info-row .raw-data-container .raw-data-type-form {
    margin: 22px 0;
    font-size: 14px;
}

.info-table .info-row .raw-data-container .raw-data-type-form input[type=radio]:checked + label {
    font-weight: bold;
}

.info-table .info-table-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin: 54px 0px 26px;
}

.info-table .info-table-subtitle.info-table-subtitle-list {
    padding: 0 0 8px;
    position: relative;
    margin: 36px 0px 15px;
}

.info-table .info-table-subtitle.info-table-subtitle-list::after {
    position: absolute;
    content: ' ';
    height: 2px;
    bottom: 0;
    left: 0;
    max-width: 186px;
    background: #305278;
}

.info-table .info-table-list .info-table-list-title {
    font-size: 12px;
    margin: 0 0 24px;
}

.info-table .info-table-list .info-table-list-content {
    font-size: 12px;
}
@media screen and  (max-width: 24000px) {
    .info-table .info-table-list .info-table-list-content .table .list-header {
        font-size: 14px;
        font-weight: bold;
        border-radius: 2px;
        margin: 8px 0;
        padding-left: 16px;
        height: 50px;
        line-height: 50px; 
    }
    .info-table .info-table-list .info-table-list-content .table .list-header .marginfix{
        margin-left: -40px;
    }
    .info-table .info-table-list .info-table-list-content .table .list-header .marginfix-l-sub70{
        margin-left: -70px;
    }
    .info-table .info-table-list .info-table-list-content .table .list-header .marginfix-l-add80{
        margin-left: 80px;
    }
}
@media screen and  (max-width: 576px) {
    .info-table .info-table-list .info-table-list-content .table .list-header { 
        display: none
    }
}
@media screen and  (max-width: 00px) {
    .info-table .info-table-list .info-table-list-content .table .row-content {
        border-radius: 2px;
        -webkit-box-shadow: 0 0 9px 3px rgba(48, 82, 120, 0.05);
        box-shadow: 0 0 9px 3px rgba(48, 82, 120, 0.05);
        margin: 8px 0;
        padding-left: 16px;
        height: 50px;
        line-height: 50px;
    
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .marginfix {
         margin-left: -40px 
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .marginfix-l-sub70 {
        margin-left: -70px 
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .marginfix-l-add80 {
        margin-left: 80px 
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .col {
        color: #7493b5;
        font-family: 'poppins-light';
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .col span {
       display: none
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .col a {
        color: #1BA3FF;
    
    }
}
@media screen and  (max-width: 576px) {
    .info-table .info-table-list .info-table-list-content .table .row-content {
        
        display: flex;
        flex-wrap: wrap ;
        border-radius: 2px;
        -webkit-box-shadow: 0 0 9px 3px rgba(48, 82, 120, 0.05);
        box-shadow: 0 0 9px 3px rgba(48, 82, 120, 0.05);
        margin: 8px 0;
        padding-left: 16px; 
        height:auto!important; 
    
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .marginfix {
        margin-left: 0px 
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .marginfix-l-sub70 {
        margin-left: 0px 
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .marginfix-l-add80 {
        margin-left: 0px 
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .col { 
        color: #7493b5;
        font-family: 'poppins-light'; 
        height: 40px;
        line-height: 40px;
        display: inline-flex; 
        flex:auto;
        width: auto; 
        /* display:inline-block ;  */
    }
    .info-table .info-table-list .info-table-list-content .table .row-content .col span {
        display: inline;
        padding: 0 10px 0 10px;
     }
    .info-table .info-table-list .info-table-list-content .table .row-content .col a {
        color: #1BA3FF;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;   
        /* max-width: 100px;  */
        display:inline-block;
    }
}

/*.info-table .info-table-list .info-table-list-content .table .row-content:hover {*/
/*background: rgba(48, 82, 120, 0.05);*/
/*-webkit-box-shadow: 2px 2px 9px rgba(48, 82, 120, 0.15);*/
/*box-shadow: 2px 2px 9px rgba(48, 82, 120, 0.15);*/
/*}*/

.info-table .info-table-list .info-table-list-content .table .row .col, .info-table .info-table-list .info-table-list-content .table .row .col-1 {
    padding: 0 15px 0 0;
}

.info-table .info-table-list .info-table-list-content .table .row .col-1 {
    width: 0.0416666666666667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.info-table .info-table-list .info-table-list-content .table .row .col-1.flag-in span {
    display: block;
    line-height: 26px;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 4px;
    background: #d9f7be;
    color: #5b8c00;
}

.flag-self span {
    display: block;
    line-height: 26px;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 4px;
    background: #7493b5;
    color: #305278;
}

.info-table .info-table-list .info-table-list-content .table .row .col-1.flag-out span {
    display: block;
    line-height: 26px;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 4px;
    background: #ffeecf;
    color: #e77e1b;
}

.info-table .tab-row {
    margin: 20px 0;
    display: block;
}

.info-table .tab-row .tab-header {
    margin: 36px 0 15px;
}

.info-table .tab-row .tab-header .tab-header-item {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 0;
    min-width: 186px;
    text-align: left;
    margin: 0 28px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #305278;
}

.info-table .tab-row .tab-header .tab-header-item.active {
    border-bottom: solid 2px #305278;
}

.info-table .tab-row .tab-content .tab-content-item {
    display: none;
}

.info-table .tab-row .tab-content .tab-content-item.active {
    display: block;
}

.pageturn {
    margin: 30px 0;
}

.pageturn ul.pagelist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap ;
}

.pageturn ul.pagelist li {
    border-radius: 50%;
    margin: 0 5px; 
}

.pageturn ul.pagelist li a {
    border-radius: 50%;
    display: block;
    height: 38px;
    width: 38px;
    line-height: 38px;
    color: #305278;
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: 0 0 6px 1px rgba(27, 163, 255, 0.05);
    box-shadow: 0 0 6px 1px rgba(27, 163, 255, 0.05);
}

.pageturn ul.pagelist li:hover {
    -webkit-box-shadow: 0 0 6px 3px rgba(27, 163, 255, 0.15);
    box-shadow: 0 0 6px 3px rgba(27, 163, 255, 0.15);
}

.pageturn ul.pagelist li.active {
    background: #1ba3ff;
}

.pageturn ul.pagelist li.active a {
    color: #fff;
}

.slide-fade-enter-active, .slide-fade-leave-active {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.slide-fade-enter {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
}

.slide-fade-leave-to {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
}

.slide-fade-move {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

/*# sourceMappingURL=explorer.css.map */

[v-cloak] {
    display: none;
}

.oops {
    font-size: 160px;
    font-family: poppins;
    font-weight: 500;
    color: rgba(221, 228, 240, 1);
    letter-spacing: 17px;
    opacity: 1;
}
