@font-face {
    font-family: "archivo";
    src: url("Font/Archivo-Regular.ttf");
}
@font-face {
    font-family: "pingfang";
    src: url("Font/PingFang Regular.ttf");
    src: url("Font/PingFang Medium.ttf");
}
@import "scss/bootstrap/bootstrap.scss";
@import "scss/core/core.scss";
@import "scss/core/header.scss";
@import "scss/core/footer.scss";
@import "scss/core/mobile.scss";
@import "scss/core/blog.scss";
@import "scss/core/widgets/main-header.scss";
@import "scss/core/widgets/bclockchain.scss";
@import "scss/core/widgets/features.scss";
@import "scss/core/widgets/introduction.scss";
@import "scss/core/widgets/applications.scss";
@import "scss/core/widgets/partners.scss";
@import "scss/core/widgets/roadmap.scss";
@import "scss/core/widgets/team.scss";
@import "scss/core/widgets/form.scss";                            
@import "scss/core/widgets/card.scss";    

// RNodes
@import "scss/core/rnodes.scss";

// Used for Custom Swiper
.swiper-container-team, .swiper-container-partners, .swiper-container-contact, .swiper-container-roadmap {
    overflow: hidden;
}

//unified only button on front page
.site-content-contain {
    .btn {
        width: 137px;
        box-shadow: 0px 9px 19px rgba(0, 0, 0, 0.05) !important;
        font-family: $font-family-monospace !important;
        font-weight: 700 !important;
        font-size: 13px !important;
    }
}



.archivo-font {
    font-family: 'Archivo', sans-serif !important;
}
.font--pf {
    font-family: 'PingFang' !important;
}