{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Search Results for :{{ query }} - CPChain</title>
{% endblock %}
{% block content %}
    <style type="text/css">
        .pageturn {
            height: 70px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pagelist {
            height: 70px;
            overflow: hidden;
            border-radius: 5px;
            color: #1BA3FF;
            font-size: 18px;
        }

        .pagelist a {
            color: #1BA3FF;
        }

        .pagelist li {
            list-style: none;
            float: left;
            padding: 3px 12px;
            margin-left: 4px;
        }

        .pagelist li:hover {
            background-color: white !important;
            border-radius: 50% !important;
            box-shadow: 0px 9px 19px rgba(0, 0, 0, 0.05) !important;
        }
    </style>


    <body class="archive category category-community-updates category-2 language-en hfeed has-header-image has-sidebar page-two-column colors-light">
    <div id="page" class="site">
        <div class="site-content-contain">
            <div id="content" class="site-content">

                <section
                        class="search-bar h-75 d-flex align-items-center justify-content-center position-relative bg-light">
                    <div class="container">
                        <div class="row my-2 py-3">

                            <div class="col-12 px-0">
                                <div class="navbar navbar-light d-flex flex-column flex-sm-row justify-content-between align-items-center flex-row w-100">
                                    <a class="navbar-brand col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h6 class="m-0">Official CPChain Media</h6>
                                    </a>
                                    <form class="form-inline col-sm-6 col-12 d-flex align-items-center justify-content-end"
                                          action="{% url 'haystack_search' %}" method="get">
                                        <input class="form-control col-sm-10 col-12 mr-sm-2" name="q" type="search"
                                               placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </section> <!-- end of search bar -->

                <section class="section-category py-5 d-flex align-items-center justify-content-center">
                    <div class="container h-100">
                        <div class="row">

                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 mx-auto">
                                <h3 class="text-center w-100 my-3">
                                    Search Results for :{{ query }}

                                </h3>
                            </div>

                            <div class="col-12 col-sm-12 mt-4">
                                <hr class="middle-hr">
                            </div>
                        </div>


                        <div class="row">

                            {% for n in page.object_list %}
                                <div class="card blog border-0 col-sm-4  my-4">


                                    <a href="{% url 'community' %}?title={{ n.object.title|urlencode }}">
                                        <div class="image-holder position-relative">
                                            <img width="800" height="400"
                                                 src="{{ MEDIA_URL }}{{ n.object.banner }}"
                                                 class="d-block w-100 h-100 img-fluid disable-select wp-post-image"
                                                 alt=""
                                                 sizes="(max-width: 767px) 89vw, (max-width: 1000px) 54vw, (max-width: 1071px) 543px, 580px"/>
                                        </div>
                                    </a>

                                    <div class="card-body px-0 pb-0">

                                        <h6 class="card-title text-primary news">
                                            <a href="{% url 'community' %}?title={{ n.object.title|urlencode }}"
                                               class="text-primary small">
                                                {{ n.object.category }} </a>
                                        </h6>
                                        <h5 class="card-title">
                                            <a href="{% url 'community' %}?title={{ n.object.title|urlencode }}">
                                                {{ n.object.title }} </a>
                                        </h5>

                                        <p class="card-text">
                                            {{ n.object.summary|default_if_none:"" }}</p>
                                        <div class="card border-0 d-flex flex-row ml-0 w-100">
                                            <a href="{% url 'community' %}?title={{ n.object.title|urlencode }}">
                                                <div class="image-smaller-holder">
                                                    <img class="card-img-top bottom-cards disable-select h-100"
                                                         src="https://cpchain.io/wp-content/themes/cpchain/assets/img/logo.svg"
                                                         alt="Card image cap">
                                                </div>
                                            </a>
                                            <div class="card-body py-0 d-flex align-items-center">
                                                <p class="card-text card-bottom-text">
                                                    <a href="{% url 'community' %}?title={{ n.object.title|urlencode }}">
                                                        CPChain </a>
                                                    <br> {{ n.object.update_time }} </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% empty %}
                                <p>Sorry, but nothing matched your search terms. Please try again with some different
                                    keywords.</p>
                            {% endfor %}


                        </div>

                        <div class="pageturn .clear">
                            <div class="pagelist">


                                {% if page.has_previous or page.has_next %}
                                    <div>
                                        {% if page.has_previous %}
                                            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}
                                        {% if page.has_previous %}&laquo; &nbsp; Previous page</a>{% endif %}
                                        &nbsp;&nbsp;&nbsp;
                                        {% if page.has_next %}
                                            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% if page.has_next %}Next page
                                         &nbsp;&raquo;</a>{% endif %}
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </section>


            </div><!-- #content -->


        </div><!-- .site-content-contain -->
    </div><!-- #page -->

    <script type='text/javascript' src="{% static '/js/skip-link-focus-fix.js' %}"></script>
    <script type='text/javascript' src="{% static '/js/wp-embed.min.js' %}"></script>

    <script src="{% static '/js/swiper.min.js' %}"></script>
    <script src="{% static '/js/vanilla-tilt.min.js' %}"></script>

    <script>

        let header = document.getElementById('header');
        window.addEventListener('scroll', function (e) {
            (window.scrollY > 30) ? header.classList.add('active') : header.classList.remove('active');
        });

        //Navigation
        let anchorlinks = document.querySelectorAll('a[href^="#"]');
        for (let item of anchorlinks) {
            item.addEventListener('click', (e) => {

                for (let i of anchorlinks) {
                    (i.textContent != item.textContent) ? i.classList.remove('selected') : i.classList.add('selected');
                }

                let hashval = item.getAttribute('href');
                let target = document.querySelector(hashval)
                target.scrollIntoView({
                    behavior: 'smooth'
                });
                history.pushState(null, null, hashval);
                e.preventDefault();
                openMenu(0);
            });
        }


        function openMenu(type) {
            let menuHolder = document.getElementById('mySidenav');
            (type == 1) ? menuHolder.classList.add('col-8', 'active') : menuHolder.classList.remove('col-8', 'active');
        }

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // swiper for application pages
        var swiperTeam = new Swiper('.swiper-container-applications', {
            slidesPerView: 1,
            autoplay: false,
            grabCursor: false,
            allowTouchMove: false,
            autoHeight: true,
        });

        swiperTeam.on('slideChange', function () {
            // change active image
            let currentSlide = this.activeIndex;
        });

        function goToApplicationSwiper(index, e) {
            swiperTeam.slideTo(index, 200);
        }

    </script>

    </body>
{% endblock %}


