<!DOCTYPE html>
<html lang="en-US" class="no-js no-svg">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static '/css/all.css' %}">
    <link rel="stylesheet" href="{% static '/css/swiper.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Source+Sans+Pro:400,600,700,900"
          rel="stylesheet">
    <script>(function (html) {
        html.className = html.className.replace(/\bno-js\b/, 'js')
    })(document.documentElement);</script>
    <title>CPChain &#8211; A new distributed infrastructure for next generation IoT</title>
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='wpm-main-css' href="{% static '/css/main.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet'  href="{% static '/css/style.css' %}" type='text/css' media='all' />
    <link rel="canonical" href="https://cpchain.io/"/>
    <link rel='shortlink' href='https://cpchain.io/'/>
    <link rel="alternate" hreflang="x-default" href="https://cpchain.io/"/>
    <link rel="alternate" hreflang="en-us" href="https://cpchain.io/"/>
    <link rel="alternate" hreflang="zh-cn" href="https://cpchain.io/zh/"/>
    <style type="text/css">.recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    @font-face {
        font-family: "poppins";
        src: url("../static/css/Font/Poppins-Light.otf");
        src: url("../static/css/Font/Poppins-ExtraLight.otf");
        src: url("../static/css/Font/Poppins-Bold.otf");
        src: url("../static/css/Font/Poppins-Regular.otf");
    }
    .poppins-font {
        font-family: 'Poppins', sans-serif !important;
    }
    </style>
</head>

{% block content %}
{% endblock %}

 <footer class="footer pb-2 pb-sm-0">
            <div class="container">
                <div class="row flex-rox d-flex align-items-center justify-content-center">

                    <hr class="w-100 middle-footer-hr">

                    <div class="col-12 d-flex flex-row flex-wrap align-items-center justify-content-center px-0 py-3 py-sm-5">

                        <div class="col-sm-4 col-6 d-flex flex-row align-items-center">
                            <a href="https://cpchain.io" class="logo-hov">
                                <div class="image-footer-holder d-flex flex-row align-items-center justify-content-start">
                                    <img src="{% static '/img/logo_new.svg' %}"
                                         class="disable-select">
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-4 middle-col col-6 text-sm-right text-center d-flex align-items-center justify-content-end justify-content-sm-center">
                            <h6 class="mb-0 pr-sm-0"><a
                                    href="/cdn-cgi/l/email-protection#f49d9a929bb49784979c959d9ada9d9b" class=""><span
                                    class="__cf_email__" data-cfemail="a0c9cec6cfe0c3d0c3c8c1c9ce8ec9cf">info@cpchain.io</span></a>
                            </h6>
                        </div>
                        <div class="col-sm-4 col-12 last-col d-flex flex-row align-items-xl-center justify-content-xl-end  align-items-lg-center justify-content-lg-end  align-items-md-center justify-content-md-end  align-items-sm-center justify-content-sm-end justify-content-center list-unstyled mt-5 mt-sm-0">
                            <ul class="display-flex list-unstyled d-flex align-items-center justify-content-between my-auto w-75">
                                <li>
                                    <a href="https://github.com/CPChain" style="color:#305278;" target="_blank">
                                        <i class="fab fa-github glyphicon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/cpchain_io" style="color:#305278;" target="_blank">
                                        <i class="fab fa-twitter glyphicon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://medium.com/search?q=cpchain" style="color:#305278;"
                                       target="_blank">
                                        <i class="fab fa-medium-m glyphicon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.reddit.com/r/CPChain_Official/" style="color:#305278;"
                                       target="_blank">
                                        <i class="fab fa-reddit-alien glyphicon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://t.me/cpchain" style="color:#305278;" target="_blank">
                                        <i class="fab fa-telegram-plane glyphicon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://discordapp.com/invite/X8WxPst" style="color:#305278;"
                                       target="_blank">
                                        <i class="fab fa-discord glyphicon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <hr class="middle-footer-hr w-100">

                    <div class="col-12 pb-sm-4 pt-sm-3 text-center">
                        <h6 class="text-opacity small"> 2018 CPChain Team © All rights reserved.</h6>
                    </div>

                </div>
            </div>
        </footer>
</html>