<!DOCTYPE html>
<html lang="en-US" class="no-js no-svg">
{% load staticfiles %}
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static '/css/all.css' %}">
    <link rel="stylesheet" href="{% static '/css/swiper.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Source+Sans+Pro:400,600,700,900"
          rel="stylesheet">
    <script>(function (html) {
        html.className = html.className.replace(/\bno-js\b/, 'js')
    })(document.documentElement);</script>
    {% block title %}
    {% endblock %}
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel='stylesheet' id='wpm-main-css' href="{% static '/css/main.css' %}" type='text/css' media='all'/>
    <link rel='stylesheet' href="{% static '/css/style.css' %}" type='text/css' media='all'/>
    <link rel="canonical" href="https://cpchain.io/"/>
    <link rel='shortlink' href='https://cpchain.io/'/>
    <link rel="alternate" hreflang="x-default" href="https://cpchain.io/"/>
    <link rel="alternate" hreflang="en-us" href="https://cpchain.io/"/>
    <link rel="alternate" hreflang="zh-cn" href="https://cpchain.io/zh/"/>
    <style type="text/css">.recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .poppins-font {
        font-family: 'poppins', sans-serif !important;
    }


    header {
        font-family: "poppins", sans-serif !important;
    }

    </style>
    {% block custom_head %}
    {% endblock %}
</head>
<header class="py-4 mx-auto w-100" id="header">
    <div class="container">
        <div class="row">
            {#logo#}
            <div class="col-4 d-flex flex-row align-items-center">
                <a href="{% url 'index' %}" class="logo-hov">
                    <div class="image-header-holder d-flex flex-row align-items-center justify-content-start">
                        <img src="{% static '/img/logo_new.svg' %}" class="disable-select">
                    </div>
                </a>
            </div>
            {#logo#}

            <div class="menu col-8 d-flex align-items-center justify-content-end">
                <ul class="list-unstyled mainul flex-column flex-sm-row sidenav d-flex align-items-xl-center justify-content-xl-between align-items-md-center justify-content-md-between align-items-lg-center justify-content-lg-between align-items-sm-center justify-content-sm-between align-items-start justify-content-start w-100 mb-0"
                    id="mySidenav">
                    <li class="d-sm-none d-block w-100">
                        <a href="javascript:void(0);" class="closebtn text-right p-0" onclick="openMenu(0)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                                      fill="#fff"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#application" class="font-weight-bold" onclick="openMenu(0)">
                            {% trans 'Application' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#roadmap" class="font-weight-bold" onclick="openMenu(0)">
                            {% trans 'Roadmap' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#team" class="font-weight-bold" onclick="openMenu(0)">
                            {% trans 'Team' %}
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'community' %}" class="font-weight-bold" onclick="openMenu(0)">
                            {% trans 'Community' %}
                        </a>
                    </li>
                                        <li>
                        <a href="{% url 'developer' %}" class="font-weight-bold" onclick="openMenu(0)">
                            {% trans 'Developer' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'explorer:explorer' %}" class="font-weight-bold" onclick="openMenu(0)">
                            {% trans 'Explorer' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#partners" class="font-weight-bold" onclick="openMenu(0)">
                            {% trans 'Partners' %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#contact" class="font-weight-bold" onclick="openMenu(0)">
                            {% trans 'Contact Us' %}
                        </a>
                    </li>
                    <li class="line"></li>
                    <li class="dropdown bg-transparent">
                        <div class="dropdown-holder d-flex flex-row align-items-center justify-content-center">
                            <a class="dropbtn-links p-0 small font-weight-bold d-none d-sm-block">
                                {% trans 'ENG' %} </a>
                            <div class="image-holder d-flex align-items-center justify-content-center">
                                <svg height="24px" class="d-none d-sm-block"
                                     id="723dc0ec-7619-4a51-9a43-c524926a5ebc" data-name="drop_down_arrow"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24">
                                    <g opacity="0.4">
                                        <path d="M7,10l5,5,5-5Z" fill="#305278"/>
                                        <path d="M0,0H24V24H0Z" fill="none"/>
                                    </g>
                                </svg>
                            </div>
                            <ul class="dropdown-menu list-unstyled rounded">
                                <a href="javascript:void(0);" class="small en">ENG</a>
                                <a href="javascript:void(0);" class="small zh">中文</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-8 menuopen position-absolute d-flex justify-content-end align-items-center">
                <a onclick="openMenu(1)"><i class="fas fa-bars d-block d-sm-none"></i></a>
            </div>
        </div>
    </div>
</header> <!-- header -->
{% block content %}
{% endblock %}

<footer class="footer pb-2 pb-sm-0">
    <div class="container">
        <div class="row flex-rox d-flex align-items-center justify-content-center">

            <hr class="w-100 middle-footer-hr">

            <div class="col-12 d-flex flex-row flex-wrap align-items-center justify-content-center px-0 py-3 py-sm-5">

                <div class="col-sm-4 col-6 d-flex flex-row align-items-center">
                    <a href="https://cpchain.io" class="logo-hov">
                        <div class="image-footer-holder d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static '/img/logo_new.svg' %}"
                                 class="disable-select">
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 middle-col col-6 text-sm-right text-center d-flex align-items-center justify-content-end justify-content-sm-center">
                    <h6 class="mb-0 pr-sm-0"><a
                            href="mailto:info@cpchain.io" class=""><span
                            class="__cf_email__">info@cpchain.io</span></a>
                    </h6>
                </div>
                <div class="col-sm-4 col-12 last-col d-flex flex-row align-items-xl-center justify-content-xl-end  align-items-lg-center justify-content-lg-end  align-items-md-center justify-content-md-end  align-items-sm-center justify-content-sm-end justify-content-center list-unstyled mt-5 mt-sm-0">
                    <ul class="display-flex list-unstyled d-flex align-items-center justify-content-between my-auto w-75">
                        <li>
                            <a href="https://github.com/CPChain" style="color:#305278;" target="_blank">
                                <i class="fab fa-github glyphicon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/cpchain_io" style="color:#305278;" target="_blank">
                                <i class="fab fa-twitter glyphicon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://medium.com/search?q=cpchain" style="color:#305278;"
                               target="_blank">
                                <i class="fab fa-medium-m glyphicon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/CPChain_Official/" style="color:#305278;"
                               target="_blank">
                                <i class="fab fa-reddit-alien glyphicon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/cpchain" style="color:#305278;" target="_blank">
                                <i class="fab fa-telegram-plane glyphicon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://discordapp.com/invite/X8WxPst" style="color:#305278;"
                               target="_blank">
                                <i class="fab fa-discord glyphicon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <hr class="middle-footer-hr w-100">

            <div class="col-12 pb-sm-4 pt-sm-3 text-center">
                <h6 class="text-opacity small"> 2018 CPChain Team © All rights reserved.</h6>
            </div>

        </div>
    </div>
</footer>


<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(function () {
        var localUrl = window.location.pathname;


        {#点击英文#}
        $(".en").click(function(){

            if (localUrl.startsWith('/zh-hans')){
                window.location.href = '/en'+window.location.pathname.slice(8,)
            }
            else if(!(localUrl.startsWith('/zh-hans')||localUrl.startsWith('/en'))){
                window.location.href = '/en'+window.location.pathname
            }

        });

        {#点击中文#}
        $(".zh").click(function(){
            if (localUrl.startsWith('/en')) {
                window.location.href = '/zh-hans' + window.location.pathname.slice(3,)
            }
            else if(!(localUrl.startsWith('/zh-hans')||localUrl.startsWith('/en'))){
                window.location.href = '/zh-hans'+window.location.pathname
            }
        })
    {#获取本地地址和语言#}
    })

</script>
<script>

  //  let header = document.getElementById('header');
//
  //  window.addEventListener('scroll', function (e) {
  //      (window.scrollY > 30) ? header.classList.add('active') : header.classList.remove('active');
  //  });

    //Navigation
    let anchorlinks = document.querySelectorAll('a[href^="#"]');
    for (let item of anchorlinks) {
        item.addEventListener('click', (e) => {

            for (let i of anchorlinks) {
                (i.textContent != item.textContent) ? i.classList.remove('selected') : i.classList.add('selected');
            }

            let hashval = item.getAttribute('href');
            let target = document.querySelector(hashval)
            target.scrollIntoView({
                behavior: 'smooth'
            });
            history.pushState(null, null, hashval);
            e.preventDefault();
            openMenu(0);
        });
    }


    function openMenu(type) {
        let menuHolder = document.getElementById('mySidenav');
        (type == 1) ? menuHolder.classList.add('col-8', 'active') : menuHolder.classList.remove('col-8', 'active');
    }

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }


</script>
</html>