{% extends 'base.html' %}
{% load static %}
{% block custom_head %}

{% endblock %}
{% block title %}
    <title>Faucet &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <div class="container">

        <div class="col-8" style="margin:40px auto">
            <div class="right-side text-right">
                <span class="text-primar ">Faucet</span>
            </div>
            <div class="col-12 mb-4 px-0">
                <hr class="right-hr">
            </div>
            <form action="{% url 'faucet' %}" method="post">
                <input class="form-control" type="text" name="address"
                       placeholder="Enter your address to claim from our faucet.">
                <p style="margin-top: 17px">{{ msg }}</p>
                <div style="margin:50px auto;padding-left: 386px">
                    <button type="submit" value="Submit"
                            class="btn btn-sm btn-light rounded-circle font-weight-bold bg-white"
                            style="width: 135px;height: 50px;">Claim
                    </button>
                    <button type="reset" value="Reset"
                            class="btn btn-sm btn-light rounded-circle font-weight-bold bg-white"
                            style="margin-left: 50px;width: 135px;height: 50px;">Reset
                    </button>

                </div>
                {% csrf_token %}
            </form>

        </div>
    </div>
{% endblock %}