{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block custom_head %}

{% endblock %}
{% block title %}
    <title>Faucet &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <div class="container faucet">

        <div class="col-8" style="margin:40px auto 120px">
            <div class="right-side text-right">
                <span class="text-primar ">Faucet</span>
            </div>
            <div class="col-12 mb-4 px-0" style="margin-bottom: 64px">
                <hr class="right-hr">
            </div>
            <p>{% trans 'Cpchain faucet is an application to collect CPC test coins for free. Cpchain testnet is published,  and you can install and try it now.' %}</p>
            <p>{% trans 'The rules of collecting free samples from CPC faucet are as follows:' %}</p>
            <div class="rules">{% trans '1. CPC address can only apply for test coins once a day, and the one succeeds can receive 100 CPC each time. The total amount of free samples is limited to 10,000 for each Cpchain address.' %}</div>
            <div class="rules">{% trans '2. The total amount of free samples issued by Cpchain faucet is up to 100,000 CPC each day. Cpchain faucet is about to stop providing test coins once it reaches this limit. It is available to apply for test coins the next day.' %}</div>
            <div class="faucet_success">{% trans 'Success！You have gotten your free CPC.' %} </div>

        </div>
    </div>
{% endblock %}