{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>{{ news.title }}&#8211; CPChain</title>
{% endblock %}
{% block content %}


    <body class="post-template-default single single-post postid-143 single-format-standard language-en has-header-image has-sidebar colors-light">
    <div id="page" class="site">
        <div class="site-content-contain">
            <div id="content" class="site-content">

                <div class="wrap">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">
                            <section class="section-partners py-5 d-flex align-items-center justify-content-center">
                                <div class="container h-100">
                                    <div class="row">
                                        <div class="blog-view-holder" style="width: 100%;">
                                            {#大图片和头部之间的内容#}
                                            <div class="upper col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12 mx-auto">
                                                <a href="{% url 'news_list' news.category|urlencode %}"
                                                   class="btn btn-sm btn-light rounded-circle font-weight-bold bg-white text-primary mr-0 mr-sm-2 mb-sm-0 mb-3">
                                                    {{ news.category }}
                                                </a>
                                                {#标题#}
                                                <h4 class="my-3">
                                                    <a href="javascript:void(0)">
                                                        {{ news.title }}
                                                    </a>
                                                </h4>
                                                {#标题#}
                                                {#时间#}
                                                <h6 class="mb-5 text-muted">by CPChain
                                                    at {{ news.update_time }}                    </h6>
                                                {#时间#}
                                            </div>
                                            {#大图片和头部之间的内容#}
                                            {#大图片#}
                                            <div class="middle col-12">
                                                <div class="image-holder-main">
                                                    <img width="800" height="400"
                                                         src="{{ MEDIA_URL }}{{ news.banner }}"
                                                         class="d-block w-100 h-100 img-fluid disable-select wp-post-image"
                                                         alt="" sizes="100vw"/>
                                                </div>
                                            </div>
                                            {#大图片#}
                                            {#文章内容#}
                                            <div class="bottom py-5 mx-auto col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12 d-flex align-items-center justify-content-center flex-column">

                                                {{ news.content|safe }}


                                                {#文章内容#}
                                                <p><strong class="markup--strong markup--p-strong">Learn more about
                                                    CPChain:<br/>
                                                </strong><a class="markup--anchor markup--p-anchor"
                                                            href="https://twitter.com/cpchain_io" target="_blank"
                                                            rel="nofollow noopener nofollow nofollow nofollow noopener nofollow nofollow noopener nofollow nofollow nofollow noopener"
                                                            data-href="https://twitter.com/cpchain_io"><strong
                                                        class="markup--strong markup--p-strong">Twitter</strong></a><strong
                                                        class="markup--strong markup--p-strong"> | </strong><a
                                                        class="markup--anchor markup--p-anchor"
                                                        href="https://t.me/CPChain" target="_blank"
                                                        rel="nofollow noopener nofollow nofollow nofollow noopener nofollow nofollow noopener nofollow nofollow nofollow noopener"
                                                        data-href="https://t.me/CPChain"><strong
                                                        class="markup--strong markup--p-strong">Telegram</strong></a><strong
                                                        class="markup--strong markup--p-strong"> | </strong><a
                                                        class="markup--anchor markup--p-anchor"
                                                        href="https://reddit.com/r/CPChain_Official" target="_blank"
                                                        rel="nofollow noopener nofollow nofollow nofollow noopener nofollow nofollow noopener nofollow nofollow nofollow noopener"
                                                        data-href="https://reddit.com/r/CPChain_Official"><strong
                                                        class="markup--strong markup--p-strong">Reddit</strong></a><strong
                                                        class="markup--strong markup--p-strong"> | </strong><a
                                                        class="markup--anchor markup--p-anchor"
                                                        href="https://discord.gg/X8WxPst" target="_blank"
                                                        rel="nofollow noopener nofollow nofollow nofollow noopener nofollow nofollow noopener nofollow nofollow nofollow noopener"
                                                        data-href="https://discord.gg/X8WxPst"><strong
                                                        class="markup--strong markup--p-strong">Discord</strong></a><strong
                                                        class="markup--strong markup--p-strong"> | <a
                                                        href="https://medium.com/@cpchain">Medium</a> |</strong><a
                                                        class="markup--anchor markup--p-anchor"
                                                        href="https://github.com/cpchain" target="_blank"
                                                        rel="nofollow noopener nofollow nofollow nofollow noopener nofollow nofollow noopener nofollow nofollow nofollow noopener"
                                                        data-href="https://github.com/cpchain"><strong
                                                        class="markup--strong markup--p-strong">GitHub</strong></a><strong
                                                        class="markup--strong markup--p-strong"> | </strong><a
                                                        class="markup--anchor markup--p-anchor"
                                                        href="https://www.youtube.com/channel/UC3y901Z6TUYi3ciW2tDiAtg"
                                                        target="_blank"
                                                        rel="nofollow noopener nofollow nofollow noopener nofollow nofollow nofollow noopener"
                                                        data-href="https://www.youtube.com/channel/UC3y901Z6TUYi3ciW2tDiAtg"><strong
                                                        class="markup--strong markup--p-strong">Youtube</strong></a><strong
                                                        class="markup--strong markup--p-strong"> | </strong><a
                                                        class="markup--anchor markup--p-anchor"
                                                        href="https://mp.weixin.qq.com/mp/profile_ext?action=home&#038;__biz=MzUwOTg2MjA5Ng==&#038;scene=124#wechat_redirect"
                                                        target="_blank"
                                                        rel="nofollow noopener nofollow nofollow noopener nofollow nofollow nofollow noopener"
                                                        data-href="https://mp.weixin.qq.com/mp/profile_ext?action=home&#038;__biz=MzUwOTg2MjA5Ng==&#038;scene=124#wechat_redirect"><strong
                                                        class="markup--strong markup--p-strong">WeChat</strong></a></p>

                                            </div>

                                            {#分割线#}
                                            <div class="line-holder col-sm-10 col-12 mx-auto">
                                                <hr>
                                            </div>
                                            {#分割线#}
                                        </div> <!-- blog-view holder  -->
                                    </div>

                                    {#下边三个小新闻列表#}
                                    <div class="row">
                                        {% for news in latest %}
                                            <div class="card blog border-0 col-sm-4  my-4">
                                                <a href="{% url 'community' %}?title={{ news.title|urlencode }}">
                                                    <div class="image-holder position-relative">
                                                        <img width="800" height="400"
                                                             src="{{ MEDIA_URL }}{{ news.banner }}"
                                                             class="d-block w-100 h-100 img-fluid disable-select wp-post-image"
                                                             alt=""
                                                             sizes="(max-width: 767px) 89vw, (max-width: 1000px) 54vw, (max-width: 1071px) 543px, 580px"/>
                                                    </div>
                                                </a>
                                                <div class="card-body px-0 pb-0">
                                                    <h6 class="card-title text-primary news">
                                                        <a href="{% url 'news_list' news.category|urlencode %}"
                                                           class="text-primary small">
                                                            {{ news.category }}
                                                        </a>
                                                    </h6>
                                                    <h5 class="card-title">
                                                        <a href="{% url 'community' %}?title={{ news.title|urlencode }}">
                                                            {{ news.title }}
                                                        </a>
                                                    </h5>
                                                    <p class="card-text" style="margin-bottom: 1rem;">
                                                        {{ news.content|slice:':200'|safe }}...
                                                    </p>
                                                </div>

                                                <div class="card border-0 d-flex flex-row ml-0 w-100">
                                                    <a href="{% url 'community' %}?title={{ news.title|urlencode }}">
                                                        <div class="image-smaller-holder">
                                                            <img class="card-img-top bottom-cards disable-select h-100"
                                                                 src="{% static '/img/logo.svg' %}"
                                                                 alt="Card image cap">
                                                        </div>
                                                    </a>
                                                    <div class="card-body py-0 d-flex align-items-center">
                                                        <p class="card-text card-bottom-text">
                                                            <a href="{% url 'community' %}?title={{ news.title|urlencode }}">
                                                                CPChain </a><br> {{ news.update_time }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>
                                    {#下边三个小新闻列表#}
                                </div>
                            </section>
                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div><!-- .wrap -->
            </div><!-- #content -->

        </div><!-- .site-content-contain -->
    </div><!-- #page -->


    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type='text/javascript'
            src='{% static 'js/skip-link-focus-fix.js?ver=1.0' %}'></script>
    <script type='text/javascript' src="{% static 'js/wp-embed.min.js?ver=4.9.7' %}"></script>

    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static '/wp-content/themes/cpchain/assets/node_modules/vanilla-tilt/dist/vanilla-tilt.min.js' %}"></script>

    <script>

        let header = document.getElementById('header');
        window.addEventListener('scroll', function (e) {
            (window.scrollY > 30) ? header.classList.add('active') : header.classList.remove('active');
        });

        //Navigation
        let anchorlinks = document.querySelectorAll('a[href^=" #"]');
        for (let item of anchorlinks) {
            item.addEventListener('click', (e) => {

                for (let i of anchorlinks) {
                    (i.textContent != item.textContent) ? i.classList.remove('selected') : i.classList.add('selected');
                }

                let hashval = item.getAttribute('href');
                let target = document.querySelector(hashval)
                target.scrollIntoView({
                    behavior: 'smooth'
                });
                history.pushState(null, null, hashval);
                e.preventDefault();
                openMenu(0);
            });
        }


        function openMenu(type) {
            let menuHolder = document.getElementById('mySidenav');
            (type == 1) ? menuHolder.classList.add('col-8', 'active') : menuHolder.classList.remove('col-8', 'active');
        }

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // swiper for application pages
        var swiperTeam = new Swiper('.swiper-container-applications', {
            slidesPerView: 1,
            autoplay: false,
            grabCursor: false,
            allowTouchMove: false,
            autoHeight: true,
        });

        swiperTeam.on('slideChange', function () {
            // change active image
            let currentSlide = this.activeIndex;
        });

        function goToApplicationSwiper(index, e) {
            swiperTeam.slideTo(index, 200);
        }

    </script>

    </body>
{% endblock %}



