{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block custom_head %}

{% endblock %}
{% block title %}
    <title>Faucet &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 faucet">
                <div class="right-side text-right">
                    <span class="text-primar ">{% trans 'Faucet' %}</span>
                </div>
                <div class="col-12 mb-4 px-0" style="margin-bottom: 64px">
                    <hr class="right-hr">
                </div>
                     <form action="{% url 'password' %}" method="post" style="margin-bottom: 200px">
                    <span>{% trans 'Password *' %}</span>
                    <input class="form-control faucet" type="password" name="password"
                           placeholder="{% trans 'Enter your password.' %}"
                           style="margin-top: 10px">
                    {% if msg %}
                        <div class="rules" style="margin-top: 17px "><img src="{% static 'img/explorer/error.png' %}"
                                                                          alt="" style="margin:3px 5px">{{ msg }}</div>

                    {% endif %}
                    <div class="col-md-6 offset-md-6 mt-5">
                        <div class="row">
                            <button type="submit" value="Submit"
                                    class="btn btn-sm btn-light rounded-circle font-weight-bold bg-white col-5"
                                    style="height: 50px;">{% trans 'Login' %}
                            </button>
                            <button type="reset" value="Reset"
                                    class="btn btn-sm btn-light rounded-circle font-weight-bold bg-white col-5 offset-2 hidden-xs"
                                    style="height: 50px;">{% trans 'Reset' %}
                            </button>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>

            </div>

        </div>
    </div>
{% endblock %}