{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    <title>RNodes &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <body class="page-template page-template-rnodes page-template-rnodes-php page page-id-96 language-en has-header-image page-two-column colors-light">
    <div id="page" class="site">
        <div class="site-content-contain">
            <div id="content" class="site-content">


                <div id="content" class="site-content">

                    <div class="wrap">
                        <div id="primary" class="content-area">
                            <main id="main" class="site-main" role="main">

                                <section class="section-partners py-5 d-flex align-items-center justify-content-center"
                                         style="color:#383C43">
                                    <div class="container px-0 h-100">
                                        <div class="row ml-0 mr-0">

                                            <div class="blog-view-holder">
                                                <div class="upper col-sm-7 col-12 mx-auto">

                                                    <h3 class="mt-3 text-left">
                                                        {%trans 'CPChain — RNode Ecosystem Structure' %}
                                                    </h3>
                                                    <h6 class="font-weight-light first">by CPChain at Aug 31, 2018
                                                        </h6>
                                                            <div class="image-holder py-4">
                                                                <img class="w-100"
                                                                     src="{% static '/img/rnodes/str-release.png' %}">
                                                            </div>
                                                            <p id="d7ab" class="graf graf--p graf-after--figure">
                                                                {% blocktrans %}The origin of Blockchain is distributed ledger technology and decentralization to develop a fair distribution of digital assets. In the CPChain Ecosystem, we guarantee that the majority of the nodes will have the right to participate in supporting the ecosystem. The return on investment from such participation is directly related to the contribution from the nodes.{% endblocktrans %}
                                                            </p>
                                                            <p>
                                                                {% blocktrans %}Below you can find the CPChain RNode Ecosystem Structure chart:{% endblocktrans %}
                                                            </p>
                                                </div>

                                                <div class="middle col-sm-7 col-12 mx-auto">
                                                    <div class="image-holder-main pt-3">

                                                        <img class="w-100"
                                                             src="{% static '/img/rnodes/ecosystem.png' %}">
                                                        <figcaption class="text-center pt-3">
                                                            {% blocktrans %}CPChain RNode Structure working flow{% endblocktrans %}
                                                        </figcaption>

                                                    </div>
                                                </div>
                                                <div class="bottom pb-5 pt-0 mx-auto col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12 d-flex align-items-center justify-content-center flex-column">


                                                    <div class="box-holder">
                                                        <h5>{% blocktrans %}1. CPChain Nodes Roles{% endblocktrans %}</h5>
                                                        <p>
                                                            <b>{% blocktrans %}Economy Node: {% endblocktrans %}</b>{% blocktrans %}Requires a minimum of 20,000 CPC tokens for participation. Investors who meet this requirement may participate as an economy node and have the right to vote in the community.{% endblocktrans %}
                                                        </p>
                                                        <p>
                                                            <b>{% blocktrans %}Reputation Node: {% endblocktrans %}</b>{% blocktrans %}Requires a minimum of 200,000 CPC tokens for participation. Investors with the basic configuration of computing and storing can participate to support the CPChain Open Transmission Protocol (COTP).{% endblocktrans %}
                                                        </p>
                                                        <p>
                                                            <b>{% blocktrans %}Industry Node: {% endblocktrans %}</b>{% blocktrans %}IoT Industry partners and CPChain ecosystem’s peer developers have the right to participate as an Industry Node.{% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <h5 class="mt-0 pt-4">{% blocktrans %}2. Reputation Nodes{% endblocktrans %}</h5>
                                                        <p class="mb-0 pb-4">
                                                            {% blocktrans %}A node has to meet one of the following requirements to become a Reputation Node:{% endblocktrans %}
                                                        </p>
                                                        <p>
                                                            <b>{% blocktrans %} a. Economy Node + Computing and Storage Node: {% endblocktrans %}</b><br>
                                                            {% blocktrans %}An economy node must lock-up a specific amount of tokens 200,000 minimum and 5,000,000 maximum) for 90 days and must satisfy the software, hardware, and network connection requirements. The locked up tokens have a positive correlation with the basic rewards. Reputation nodes will be refunded after they leave the election.{% endblocktrans %}
                                                        </p>
                                                        <p>
                                                            <b>{% blocktrans %}b. Industry Node + Computing and Storage Node:{% endblocktrans %}</b><br>
                                                            {% blocktrans %}An industry node will be upgraded to a reputation node once meeting all the hardware, software, and network requirements. Industry nodes must be verified by the CPChain foundation.{% endblocktrans %}
                                                        </p>
                                                        <p>
                                                            {% blocktrans %}Reputation Nodes have the right to be elected as a committee member and to be granted rewards from the Blockchain. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <h5>{% blocktrans %}3.DPoR Consensus Overview{% endblocktrans %}</h5>
                                                        <p>
                                                            {% blocktrans %} The CPChain consensus system adopts the Dynamic Proof of Reputation Agreement (DPoR) which is developed by Shanghai Jiao Tong University Distributed and Smart System Lab. {% endblocktrans %}
                                                        </p>
                                                        <p>
                                                            {% blocktrans %} The CPChain Ecosystem is divided into three layers as seen below. Users can be upgraded to reputation nodes after an initial admission test. The specific election algorithm will pick out a certain number of nodes from Layer 2 to conduct the Layer 3 dynamic committee in order to maintain the blockchain. {% endblocktrans %}
                                                        </p>
                                                        <p>
                                                            {% blocktrans %} Layer 3 primarily solves the consensus problem of creating, verifying, broadcasting, and adding blocks onto the chain. Generally speaking, DPor is an appropriate solution for the three issues of consensus under the large-scale network, which are node Reputation Assessment, Node Election and Byzantine Fault Tolerance (BFT) Consensus within the committee. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="">
                                                        <div class="image-holder-main">
                                                            <img class="w-100"
                                                                 src="{% static '/img/rnodes/protocol.png' %}">
                                                            <figcaption class="text-center pt-3">{% blocktrans %}DPor Consensus Protocol Overview{% endblocktrans %}
                                                            </figcaption>
                                                        </div>
                                                    </div>

                                                    <div class="box-holder">
                                                        <h5>{% blocktrans %}Node Reputation Value Assessment Procedure (RVAP){% endblocktrans %}</h5>
                                                        <p>
                                                            {% blocktrans %} Based on data from blockchain, CPChain will conduct the node reputation assessment model to calculate and assess the Reputation Value (RV) of every node in the system. The reputation model will be divided into five parts: {% endblocktrans %}
                                                        </p>
                                                        <ul class="list-unstyled">
                                                            <li class="mb-2">1.<b>&nbsp {% blocktrans %}Account Balance{% endblocktrans %}</b></li>
                                                            <li class="mb-2">2.<b>&nbsp {% blocktrans %}Transaction{% endblocktrans %}</b></li>
                                                            <li class="mb-2">3.<b>&nbsp {% blocktrans %}Proxy Reputation{% endblocktrans %}</b></li>
                                                            <li class="mb-2">4.<b>&nbsp {% blocktrans %}Data Contribution{% endblocktrans %}</b></li>
                                                            <li class="mb-2">5.<b>&nbsp {% blocktrans %}Blockchain Maintenance{% endblocktrans %}</b></li>
                                                        </ul>
                                                    </div>

                                                    <div class="box-holder">
                                                        <p>
                                                            <b>{% blocktrans %}1. Account Balance:{% endblocktrans %}</b> <br>
                                                            {% blocktrans %} CPC token balance in RNode’s account will have a positive correlation with the Reputation Value. It will contribute 40%～50% in the Reputation Value Assessment Procedure (RVAP). {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <p>
                                                            <b>{% blocktrans %}2. Transaction:{% endblocktrans %}</b><br> 
                                                            {% blocktrans %} “Transaction” refers to actions in which a RNode uses CPC to buy data in CPChain’s PDash data marketplace. It will contribute 15%～20% in RVAP. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <p>
                                                            <b>{% blocktrans %}3. Proxy: {% endblocktrans %}</b><br> 
                                                            {% blocktrans %} Serving as the role of proxy, a RNode will earn reputation by assisting others in the marketplace. It will contribute 10%～15% in RVAP. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <p>
                                                            <b>{% blocktrans %}4. Data Contribution:{% endblocktrans %}</b><br>
                                                            {% blocktrans %} A node will earn reputation value by uploading data, it will include base reputation value and bonus. A RNode will earn reputation value by uploading data and will earn a bonus when a related transaction happens. This part will contribute 15%～20% in RVAP. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <p>
                                                            <b>{% blocktrans %}5. Blockchain Maintenance: {% endblocktrans %}</b><br> 
                                                            {% blocktrans %} All the committee members will be granted a certain amount of reputation value after blocks being produced by the committee. This part will contribute 10%～15%. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <p>
                                                            <b>{% blocktrans %}Characteristics of DPoR:{% endblocktrans %}</b><br> 
                                                            {% blocktrans %} The design of DPoR has three layers of consideration for the RNodes with regard to value investment, volume contribution, and chain maintenance. It avoids the risks in the traditional centralized masternode structure in which token balance or computing power are heavily abused. As for how to comprehensively value the RNode contribution to the entire CPChain ecosystem, DPoR intends to build up a decentralized, diverse and fair network. Furthermore, the data set for calculating the reputation value will be originated from the Blockchain with complete traceability and temper-resistance. The election result from the model can be verified. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <h5>{% blocktrans %}Dynamic Committee Election{% endblocktrans %}</h5>
                                                        <p>
                                                            {% blocktrans %} For every committee round, 30–35 reputation nodes will be elected. The committee is responsible for the maintenance of existing blocks, and adding, broadcasting and verifying new blocks. A certain amount of rewards would be granted. DPoR system election is based on the reputation nodes’ reputation value and random seeds. The election algorithm will be disclosed, and any node could execute the algorithm automatically, which makes the outcome verifiable, thereby ensuring the reliability of the election process. The election result has a certain randomness, and the possibility of one node be selected is proportional to its reputation value. Currently, one round is expected to be 5–10 minutes. {% endblocktrans %}
                                                        </p>
                                                        <h6><b>{% blocktrans %}Characteristics{% endblocktrans %}</b></h6>
                                                        <p>
                                                            {% blocktrans %} The DPOR election is based on nodes’ reputation value and random seeds. Every candidate node has the opportunity to be elected. The outcome cannot be predicted by any node which ensures the process is fair and secure. The election process is completely anonymous, therefore, users’ privacy is protected. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <h5>{% blocktrans %}Within Committee: LBFT{% endblocktrans %}</h5>
                                                        <p>
                                                            {% blocktrans %} DPoR uses Lightweight Byzantine Fault Tolerance (LBFT) to achieve a fast agreement among the committee members. LBFT has two stages: block distribution and signature collection (the committee needs to sign and verify a new block). Currently, the system can tolerate up to one-third of nodes having downtime or becoming malicious. With the release of the main chain in future and the optimized supervision and alternative mechanisms after that, it is expected to achieve up to half nodes have downtime or less than half of the committee members become malicious. Moreover, LBFT includes the fault tolerance mechanism for extreme situations, i.e., the majority of the committee is having downtime or becoming malicious. This mechanism aims to enhance the stability and robustness. {% endblocktrans %}
                                                        </p>
                                                    </div>

                                                    <div class="box-holder">
                                                        <div class="image-holder-main">

                                                            <img class="w-100"
                                                                 src="{% static '/img/rnodes/lbft.png' %}">

                                                        </div>

                                                    </div>

                                                    <div class="box-holder col-sm-12 px-0">
                                                        <h5>{% blocktrans %}4. Node Entitlements & Rewards{% endblocktrans %}</h5>
                                                        <p>
                                                            {% blocktrans %} CPChain’s ecosystem is established by a lot of Internet of Things (IoT) enterprises, developers and users. It is a long-term process. As a result, CPChain will divide the incentive system into two stages. In the first stage, CPChain Foundation would be the main fund provider, for the ecosystem establishment and the chain maintenance. The next stage is mainly performed by the market. With the optimization of CPChain ecosystem and the increase in data sharing and transferring, the reward for RNodes will mainly be generated by contracts and market transactions.{% endblocktrans %}
                                                        </p>
                                                        <p>{% blocktrans %}In the first stage, reputation nodes’ entitlements will be allocated to two parts: {% endblocktrans %}</p>
                                                        <p>
                                                            <b><i>{% blocktrans %}Basic Rewards:{% endblocktrans %}</i></b> 
                                                            {% blocktrans %} CPChain will create a reward pool with 5 million CPC annually (1.25 million CPC quarterly, 13,700 CPC daily). The RNode and the Economy Node receive the corresponding CPC reward based on the ratio of the locked margin to the total margin. (Economy Node and RNode will both need a 90-day lock-up session). {% endblocktrans %}
                                                        </p>
                                                        <p>
                                                            <b><i>{% blocktrans %}Blockchain maintenance rewards:{% endblocktrans %}</i></b><br> 
                                                            {% blocktrans %} Committee Nodes are entitled to blockchain maintenance rewards. Every block generates fixed rewards. Block rewards will be decreased by 25% every year, and run out in 5 years. There would be 40 million CPC in the first year, and following with 30 million, 22.5 million, 17 million and 12.75 million for the rest of four years respectively. {% endblocktrans %}
                                                        </p>
                                                        <p class="w-100">
                                                            <b>{% blocktrans %}Any questions about our Rnode Ecosystem can be posted in our upcoming AMA:{% endblocktrans %}</b>
                                                        </p>
                                                        <a class="w-100 d-block"
                                                           href="https://www.reddit.com/r/CPChain_Official/comments/9btryw/cpchains_third_ama_rnode_version_official_thread/"
                                                           style="overflow-wrap: break-word;" target="_blank">
                                                            https://www.reddit. com/r/ CPChain _Official/ comments/
                                                            9btryw/
                                                            cpchains_ third_ama_
                                                            rnode_ version _official _thread/
                                                        </a>
                                                        <br>

                                                        <p>
                                                            <i>{% blocktrans %}* Around 3,000,000 blocks will be generated annually.{% endblocktrans %}</i><br>
                                                            <i>{% blocktrans %}** Please note that according to changes in the market environment, for the sake of community interest, CPChain keeps the right to amend the numbers above in the future.{% endblocktrans %}</i>
                                                        </p>
                                                    </div>


                                                </div> <!-- body content -->
                                            </div> <!-- blog-view holder  -->
                                        </div>
                                    </div>
                                </section>

                            </main><!-- #main -->
                        </div><!-- #primary -->

                    </div><!-- .wrap -->
                </div>


            </div><!-- #content -->
        </div><!-- .site-content-contain -->
    </div><!-- #page -->
    
    <script type='text/javascript' src="{% static '/js/skip-link-focus-fix.js' %}"></script>
    <script type='text/javascript' src="{% static '/js/wp-embed.min.js' %}"></script>

    <script src="https://cdn.bootcss.com/Swiper/4.4.6/js/swiper.min.js"></script>
    <script src="{% static '/js/vanilla-tilt.min.js' %}"></script>

    <script>

        let header = document.getElementById('header');
        window.addEventListener('scroll', function (e) {
            (window.scrollY > 30) ? header.classList.add('active') : header.classList.remove('active');
        });

        //Navigation
        let anchorlinks = document.querySelectorAll('a[href^="#"]');
        for (let item of anchorlinks) {
            item.addEventListener('click', (e) => {

                for (let i of anchorlinks) {
                    (i.textContent != item.textContent) ? i.classList.remove('selected') : i.classList.add('selected');
                }

                let hashval = item.getAttribute('href');
                let target = document.querySelector(hashval)
                target.scrollIntoView({
                    behavior: 'smooth'
                });
                history.pushState(null, null, hashval);
                e.preventDefault();
                openMenu(0);
            });
        }


        function openMenu(type) {
            let menuHolder = document.getElementById('mySidenav');
            (type == 1) ? menuHolder.classList.add('col-8', 'active') : menuHolder.classList.remove('col-8', 'active');
        }

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // swiper for application pages
        var swiperTeam = new Swiper('.swiper-container-applications', {
            slidesPerView: 1,
            autoplay: false,
            grabCursor: false,
            allowTouchMove: false,
            autoHeight: true,
        });

        swiperTeam.on('slideChange', function () {
            // change active image
            let currentSlide = this.activeIndex;
        });

        function goToApplicationSwiper(index, e) {
            swiperTeam.slideTo(index, 200);
        }

    </script>

    </body>
{% endblock %}
