{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Security &#8211; CPChain</title>
{% endblock %}
{% block content %}
    <style type="text/css">
        section.application-pages {
            background-repeat: no-repeat;
            background-size: cover;
            height: 60vh;
            max-height: 550px;
            overflow: hidden;
            background-position: bottom;
        }

        .fixed-width-button {
            width: 262px !important;
        }
    </style>


    <body class="page-template-default page page-id-176 language-en has-header-image page-two-column colors-light">
    <div id="page" class="site">
        <div class="site-content-contain">
            <div id="content" class="site-content">

                <div class="wrap">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">


                            <section
                                    class="d-flex align-items-center justify-content-center position-relative application-pages security"
                                    style="background-image: url({% static '/img/application/security.jpg' %});">
                                <div class="container h-100">
                                    <div class="row pt-0 position-relative text-center h-100 flex-sm-column flex-column align-items-center justify-content-end justify-content-md-center justify-content-center">

                                        <div class="text-center mt-sm-0 pt-sm-0 pt-0 mt-0">
                                            <h4 class="col-10 col-sm-12 font-weight-light p-0 mx-auto text-white archivo-font">
                                                <i>Application</i>
                                            </h4>
                                            <h1 class="col-10 col-sm-12 mt-4 mt-sm-0 px-0 mx-auto text-white poppins-font">
                                                Public Security
                                            </h1>
                                        </div>

                                        <div class="pt-lg-5 flex-lg-row flex-column mt-sm-3 mt-3 d-flex main-buttons mx-auto">
                                            <a href="{% url 'app' 'intelligent-transportation' %}"
                                               class="btn fixed-width-button btn-light rounded-circle font-weight-bold bg-white mr-0 mr-sm-2 mb-sm-0 mb-3 px-3 poppins-font mr-2 w-100">
                                                Intelligent Transportation
                                            </a>
                                            <a href="{% url 'app' 'smart-medical' %}"
                                               class="btn btn-sm btn-light fixed-width-button rounded-circle font-weight-bold bg-white mr-0 mr-sm-2 mb-sm-0 mb-3 px-3 poppins-font">
                                                Smart Medical
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </section>  <!-- end of application-pages  -->

                            <section
                                    class="section-two-intelligent d-flex align-items-center justify-content-center position-relative">
                                <div class="container h-100">

                                    <div class="row mt-5 pt-sm-0 pt-0 position-relative text-center h-100 flex-sm-column flex-column align-items-center justify-content-end justify-content-md-center">
                                        <div class="d-flex col-12 flex-column">
                                            <ul class="list-unstyled d-flex flex-row my-4 col-lg-12 main scroller-tab">
                                                <li class="col-md-3 col-12 pb-2">
                                                    <a class="tablinks tab_drive archivo-font" href="javascript:void(0)"
                                                       onclick="goToApplicationSwiper(0, this);">
                                                        Elevator Operation Data Record
                                                    </a>
                                                </li>
                                            </ul> <!-- end of header tabs -->
                                            <hr class="mb-7">
                                        </div>
                                    </div> <!-- end of row -->


                                    <div class="swiper-container-applications w-100">
                                        <div class="swiper-wrapper">

                                            <div class="swiper-slide row p-0 m-0 application-slide-content">

                                                <div class="col-sm-4 col-12 col-12">
                                                    <div class="image-holder-app">
                                                        <img class="w-100"
                                                             src="{% static '/img/application/slide-1.png' %}">
                                                    </div>
                                                </div> <!-- end of image -->
                                                <div class="col-sm col-12 ">
                                                    <h5 class="archivo-font font-italic">
                                                        Background
                                                    </h5>
                                                    <p class="font-weight-light archivo-font text-justify">
                                                        Elevator operation data, such as the real-time height of the
                                                        elevator, up & down signal, alarm status, and emergency power
                                                        status, they are all useful for running status monitoring, fault
                                                        prediction, fault handling and accident rescue.
                                                    </p>
                                                </div> <!-- end of desc -->

                                                <div class="col-12 mt-2 py-5">
                                                    <h5 class="archivo-font font-italic mb-0">
                                                        Solutions
                                                    </h5><br>
                                                    <p class="font-weight-light archivo-font text-justify">
                                                        By installing sensors in elevators and elevator hoistway, the
                                                        key
                                                        data needed for maintenance can be collected and uploaded to the
                                                        CPChain platform. <br><br> By utilizing the characteristics of
                                                        Blockchain, in which data can be traced back but cannot be
                                                        tampered
                                                        with, the data record of elevator movement and the snapshot of
                                                        key
                                                        maintenance operation are stored on the chain, to provide
                                                        reliable
                                                        records for ACI, insurance investigation and quality assessment
                                                        of
                                                        maintenance.
                                                    </p>
                                                </div> <!-- end of solutions -->


                                                <div class="col-sm  my-4 pb-md-5 d-flex align-items-center solution-icons">
                                                    <div class="icon pr-4">
                                                        <img class="w-100"
                                                             src="{% static '/img/application/solution-1.png' %}">
                                                    </div>
                                                    <div class="title font-weight-light archivo-font">
                                                        Medical Industry Side Chain
                                                    </div>
                                                </div><!-- end of solution-icons -->

                                                <div class="col-sm  my-4  pb-md-5  d-flex align-items-center justify-content-start justify-content-sm-center solution-icons my-4 my-sm-0">
                                                    <div class="icon pr-4">
                                                        <img class="w-100"
                                                             src="{% static '/img/application/solution-2.png' %}">
                                                    </div>
                                                    <div class="title font-weight-light archivo-font">
                                                        Medicine Quality Trace
                                                    </div>
                                                </div><!-- end of solution-icons -->

                                                <div class="col-sm  my-4 pb-5  d-flex align-items-center justify-content-sm-end justify-content-start solution-icons">
                                                    <div class="icon pr-4">
                                                        <img class="w-100"
                                                             src="{% static '/img/application/solution-3.png' %}">
                                                    </div>
                                                    <div class="title font-weight-light archivo-font">
                                                        Medicine Quality Trace
                                                    </div>
                                                </div> <!-- end of solution-icons -->

                                            </div> <!-- end of swiper 1 -->


                                        </div> <!-- swiper-wrapper -->
                                    </div> <!-- swiper-container -->


                                </div>
                            </section>


                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div><!-- .wrap -->


            </div><!-- #content -->


        </div><!-- .site-content-contain -->
    </div><!-- #page -->
    <script type='text/javascript' src="{% static '/js/skip-link-focus-fix.js' %}"></script>
    <script type='text/javascript' src="{% static '/js/wp-embed.min.js' %}"></script>

    <script src="{% static '/js/swiper.min.js' %}"></script>
    <script src="{% static '/js/vanilla-tilt.min.js' %}"></script>
    <script>

        let header = document.getElementById('header');
        window.addEventListener('scroll', function (e) {
            (window.scrollY > 30) ? header.classList.add('active') : header.classList.remove('active');
        });

        //Navigation
        let anchorlinks = document.querySelectorAll('a[href^="#"]');
        for (let item of anchorlinks) {
            item.addEventListener('click', (e) => {

                for (let i of anchorlinks) {
                    (i.textContent != item.textContent) ? i.classList.remove('selected') : i.classList.add('selected');
                }

                let hashval = item.getAttribute('href');
                let target = document.querySelector(hashval)
                target.scrollIntoView({
                    behavior: 'smooth'
                });
                history.pushState(null, null, hashval);
                e.preventDefault();
                openMenu(0);
            });
        }


        function openMenu(type) {
            let menuHolder = document.getElementById('mySidenav');
            (type == 1) ? menuHolder.classList.add('col-8', 'active') : menuHolder.classList.remove('col-8', 'active');
        }

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // swiper for application pages
        var swiperTeam = new Swiper('.swiper-container-applications', {
            slidesPerView: 1,
            autoplay: false,
            grabCursor: false,
            allowTouchMove: false,
            autoHeight: true,
        });

        swiperTeam.on('slideChange', function () {
            // change active image
            let currentSlide = this.activeIndex;
        });

        function goToApplicationSwiper(index, e) {
            swiperTeam.slideTo(index, 200);
        }

    </script>

    </body>
{% endblock %}
